/* Page Head */
.page-logo {
  display: block;
  float: left;
  margin-left: 1em;
  margin-top: .8em;
  width: 90px;
  height: 32px;
  background: transparent url('../images/logo_nm.svg') center center no-repeat;
  background-size: contain;
}

@media screen and (min-width: 485px) {
  .page-head {
    text-align: center;
  }
  .page-logo {
    float: none;
    display: inline-block;
    margin: 1.5em 0 0 0;
  }
}

/* Page - Home */
@media screen and (min-width: 485px) {
  .site-home .page-head {
    margin-bottom: 3em;
    text-align: center;
  }
  .site-home .page-logo {
    height: 60px;
    width: 165px;
  }
}

/* Page Footer */
.page-footer {
  background-color: rgba(0,0,0,.2);
  text-align: center;
  margin-top: 1em;
  padding: 40px 0 25px 0;
  border-top: 1px solid #aaa;
  color: #666;
  font-size: .85em;
  line-height: 1.5em;
}

/* Page Footer Icons */
.page-footer .social-icons {
  margin-bottom: 10px;
}
.page-footer .social-icons li {
  display: inline-block;
  margin: 0 .4em;
}
.page-footer .social-icons .icon {
  color: #666;
  font-size: 2.2em;
}
.page-footer .social-icons .icon:hover {
  color: #333;
}
.page-footer .social-icons a {
  text-decoration: none;
}
.icon-github:before {
  content: "\eab2"; 
}
.icon-facebook:before {
  content: "\ea8d"; 
}
.icon-linkedin:before {
  content: "\eac8"; 
}
.icon-google-plus:before {
  content: "\ea89"; 
}
.icon-tumblr:before {
  content: "\eabc"; 
}
.icon-myeyes:before {
  content: "\ea54";
}

