html {
	height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	color: #111;
	background-color: #eee;
	/*
	background-repeat: no-repeat;
	background-image: linear-gradient(top, #ccc 2%, #eee 20%);
	background-image: -o-linear-gradient(top, #ccc 2%, #eee 20%);
	background-image: -moz-linear-gradient(center top , #ccc 2%, #eee 20%);
	background-image: -webkit-linear-gradient(top, #ccc 2%, #eee 20%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.02, #ccc), color-stop(0.20, #eee));
	*/
}
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	line-height: 1;
	vertical-align: bottom;

}
ul {
	list-style: none;
}
a:link,
a:active,
a:visited {
	color: #0091c5;
	text-decoration: none;
	transition: color 1s;
}
a:hover {
	color: #004e65;
	text-decoration: underline;
}
p {
	padding: 0;
	margin: 0;
}
img {
	border: none;
	vertical-align: top;
	max-width: 100%;
}
.icon {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.clear-fix:after {
	display: block;
	content: "\00a0";
	height: 0;
	clear: both;
	visibility: hidden;
	line-height: 0;
}
.hr {
	height: 1px;
	width: 50%;
	margin: 10px auto;
	background-color: #aaa;
}
.hr.space-below {
	margin-bottom: 2em;
}
.button,
a:link.button,
a:active.button,
a:visited.button {
	padding: .3em .6em;
	color: #eee;
	border: none;
	background-color: #888;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.button:hover,
a:hover.button {
	text-decoration: none;
	color: #fff;
	background-color: #666;
	background-color: rgba(0, 0, 0, 0.5);
}
.section-title {
	padding: .4em;
	margin: 0 0 2.5em 0;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	letter-spacing: 1px;
	font-size: 1.2em;
	line-height: 1.2;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}
.not-found {
	text-align: center;
	font-size: 3em;
	color: #777;
	font-style: italic;
	margin: 1em 0;
	font-family: 'Montserrat', sans-serif;
}
.mod-title {
	font-size: 2.5em;
	font-family: 'Montserrat', sans-serif;
	color: #333;
	margin-top: 1.5em;
	margin-bottom: .5em;
}
.mod-title:first-child {
	margin-top: .5em;
}
.mod-title2 {
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 1em 0;
	/*
	padding: .4em .6em;
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
	*/
	padding: 0 .2em .4em .2em;
	color: #333;
	border-bottom: 1px solid #999;
}
.section-title2 {
  font-size: 1.6em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: .8em;
  padding-bottom: .4em;
  color: #333;
  border-bottom: 1px solid #999;
}


/* social icons
/* ---------------------------------------------- */
.social-icons {
	margin-bottom: 10px;
}
.social-icons li {
	display: inline-block;
	margin: 0 .4em;
}
.social-icons .icon {
	color: #666;
	font-size: 2.2em;
}
.social-icons .icon:hover {
	color: #333;
}
.social-icons a {
	text-decoration: none;
}
.icon-github:before {
	content: "\eab2";	
}
.icon-facebook:before {
	content: "\ea8d";	
}
.icon-linkedin:before {
	content: "\eac8";	
}
.icon-google-plus:before {
	content: "\ea89";	
}
.icon-tumblr:before {
	content: "\eabc";	
}
.icon-myeyes:before {
	content: "\ea54";
}

/* homepage
/* ----------------------------------------------
 */
.site-blurb {
	margin-bottom: 3em;
	text-align: center;
	line-height: 1.3;
	font-size: 1.1em;
}
.site-intro {
	margin-left: 2em;
	margin-right: 2em;
}
.site-intro .intro-item {
	position: relative;
	padding: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.site-intro .intro-item img {
	border: 1px solid #aaa;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.site-intro .intro-item-title {
	position: absolute;
	bottom: 5px;
	right: 5px;
	left: 5px;
	background-color: rgba(0, 0, 0, .4);
	color: #fff;
	font-size: .8em;
	padding: .4em .4em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000000;
}
.site-intro .intro-item:hover .intro-item-title {
	background-color: #000;
}
.sub-title {
	font-size: .9em;
	margin-top: 1.4em;
	margin-bottom: .2em;
	font-style: italic;
	font-size: 1.05em;
	color: #666;
}
.sub-title:first-child {
	margin-top: 0;
}
.page-footer {
  background-color: rgba(0,0,0,.2);
	text-align: center;
	margin-top: 1em;
	padding: 40px 0 25px 0;
	border-top: 1px solid #aaa;
	color: #666;
	font-size: .85em;
	line-height: 1.5em;
}

/* thumbnails
/* ---------------------------------------------- 
 */
.thumbnail-item {
	float: left;
	width: 50%;
	max-width: 250px;
	margin-bottom:  1.8em;
}
.thumbnail-item .thumbnail-details {
	margin-top: .4em;
	text-align: center;
}
.thumbnail-item .thumbnail-details a {
	font-size: .8em;
}
.thumbnail-wrap {
	position: relative;
	border: 2px solid #eee;
	margin: 0 .6em 0 .6em;
	box-shadow: 0px 8px 2px -4px #888;

	transition: box-shadow .2s;
	-moz-transition: box-shadow .2s;
	-webkit-transition: box-shadow .2s;
	-o-transition: box-shadow .2s;
}
.thumbnail-wrap:hover {
	box-shadow: 0px 0px 2px -4px #aaa;
}
.thumbnail-wrap .thumbnail {
	width: 100%;
}
.thumbnail-wrap .thumbnail-overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0091c5;
	background-color: rgba(0, 168, 216, .9);

	transition: opacity .3s;
	-moz-transition: opacity .3s;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
}
.thumbnail-wrap .magnify {
	margin-top: 8px;
}
.thumbnail-wrap .thumbnail-title {
	opacity: 0;
	margin-top: 30%;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2em;
	text-align: center;
	text-shadow: 0px 1px 2px #333;
	padding: 0 8px;

	transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
}
.thumbnail-wrap .thumbnail-specs {
	text-align: center;
	color: #fff;
}
.thumbnail-wrap:hover .thumbnail-overlay {
	opacity: 1;
}
.thumbnail-wrap:hover .thumbnail-title {
	margin-top: 20%;
	opacity: 1;
}
.lt-ie9 .thumbnail-wrap .thumbnail-overlay,
.lt-ie9 .thumbnail-wrap .thumbnail-title {
	display: none;
}
.video-item {
	float: left;
  width: 50%;
  margin-bottom: 1.2em;
  max-width: 300px;
}
.video-wrap {
	margin: 0 .6em 0 .6em;
}
.video-wrap video {
	width: 100%;
}
.video-item .thumbnail-title {
	margin-top: .5em;
	text-align: center;
}

/* large image
/* ---------------------------------------------- */
.page-large-image .page-logo {
	margin-top: 0;
	width: 80px;
}
.page-large-image .page-head {
	margin-top: 15px;
}
.page-large-image #btn-back {
	position: absolute;
	top: 18px;
	left: 50%;
	margin-left: -15px;
}
.large-image-wrap {
	position: relative;
	text-align: center;
}
.large-image-wrap .large-image {
	position: relative;
	border: 4px solid #eee;
	background-color: #666;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* general
 * --------------------------------------
 */
.page-head,
.page-content {
	margin: 1em .9em;
}
.page-head {
	position: relative;
}
.mod-half {
	padding: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.mod-padding {
	padding: 1em;
}
.mod-inner {
	/*background-color: rgba(100, 100, 100, .1);*/
	background-color: #ddd;
	padding: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.mod-list-item {
	width: 100%;
	overflow: hidden;
	padding-bottom: 1.2em;
	margin-bottom: 1.2em;
	border-bottom: 1px solid #bbb;
	text-align: center;
}
.mod-list-item:last-child {
	padding: 0;
	margin: 0;
	border-bottom: none;
}
.mod-list-item img {
	margin-bottom: 1em;
}
.mod-list-item .game-thumb {
  border: 1px solid #aaa;
  padding: 2px;
}
.mod-list-item-title {
	font-size: 1.2em;
	font-weight: bold;
}
.description {
	margin-bottom: 1em;
}
.code {
	display: block;
	padding: .5em;
	background-color: #333;
	color: #fff;
	margin: 0 0 1em 0;
	overflow: auto;
}
.code-list .item-list {
	margin-left: 20px;
}
.code-list .item-list li {
	margin-bottom: .5em;
}
.code-display {
	margin-top: 2em;
	padding-top: 2em;
	border-top: 1px solid #999;
}
.example,
.caption {
	font-size: .8em;
	color: #555;
}
.example:first-child {
	margin-top: 0;
}
.example {
	margin-top: 12px;
	margin-bottom: 4px;
}
.caption {
	margin: 4px 0 12px 0;
}


@media screen and (min-width: 485px) {
	.section-title {
		font-size: 1.5em;
		padding-left: 25px;
		padding-right: 25px;
	}
	.page-shell {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
	}
	.page-main {
		display: table-cell;
		width: 100%;
		vertical-align: top;
	}
	.page-head {
		margin: 12px 25px 15px 25px;
	}
  .page-home .page-head {
    margin-bottom: 40px;
    text-align: center;
  }
	.page-content {
		margin: 1em 4em 1em 4em;
	}
	.code-list {
	}
	.code-list .item-list {
		padding-right: 20px;
	}
	.code-display {
		float: right;
		width: 75%;
		padding-top: 0;
		margin-top: 0;
		border-top: none;
	}
	.code-display-inside {
		border-left: 1px solid #999;
		padding-left: 20px;
	}
	.page-large-image .page-logo {
		width: 100px;
	}
	.page-large-image #btn-back {
		top: 22px;
	}
	.page-large-image .carousel-arrow {
		font-size: 3.2em;
	}
}


@media screen and (min-width: 700px) {
	.mod-half {
		float: left;
		width: 50%;
	}
	.mod-list-item {
		float: left;
		padding-right: 2em;
		padding-bottom: 0;
		margin-bottom: 2em;
		border-bottom: none;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		text-align: left;
	}
	.mod-list-item:nth-child(odd) {
		clear: left;
	}
	.mod-list-item img {
		float: left;
		margin-right: 1em;
		margin-bottom: 0;
	}
	.page-large-image .carousel-arrow {
		font-size: 3.8em;
	}
	.thumbnail-item {
		width: 33%;
	}
	.video-item {
		width: 50%;
	}

	.site-intro {
		margin: 0 auto 2em auto;
		width: 80%;
		max-width: 1100px;
	}
	.site-intro .intro-item {
		float: left;
		width: 50%;
		margin: 0 auto;
	}
	.site-intro .intro-item-title {
		font-size: 1em;
		line-height: 1.2;
		padding: .5em .8em;
	}
}


@media screen and (min-width: 900px) {
	.mod-list-item {
		width: 50%;
	}
	.thumbnail-item {
		width: 25%;
	}
	.video-item {
		width: 33%;
	}
}

/* Home */
.page-logo {
  display: inline-block;
  width: 110px;
  height: 45px;
  background: transparent url('../images/logo_nm.svg') center center no-repeat;
  background-size: contain;
}
@media screen and (min-width: 485px) {
	.site-home .page-logo {
    height: 60px;
		width: 165px;
	}
	.site-home .page-head {
	  text-align: center;
	  margin-bottom: 3.5em;
	}
}

.examples-section {
	margin-bottom: 4em;
}
.examples-title {
	font-size: 1.4em;
	margin-bottom: .4em;
}
.examples-dek {
	margin-bottom: 1em;
}
.examples-item-sprite,
.examples-item-flash,
.examples-item-video {
	float: left;
	margin-right: 1.2em;
	margin-bottom: 1.2em;
	text-align: center;
}
.examples-item-video {
	width: 280px;
}
.examples-item-title {
  margin-top: .5em;
}

.code-block-wrap {
  margin-bottom: 4em;
}
.code-block {
  background-color: #333;
  color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
