@charset "UTF-8";
@font-face {
  font-family: "icons";
  src: url("icons/icons.eot?idfjxo");
  src: url("icons/icons.eot?#iefixidfjxo") format("embedded-opentype"), url("icons/icons.ttf?idfjxo") format("truetype"), url("icons/icons.woff?idfjxo") format("woff"), url("icons/icons.svg?idfjxo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-], [class*=" icon-"] {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper:before {
  content: "";
}

.icon-zoom-in:before {
  content: "";
}

.icon-zoom-out:before {
  content: "";
}

.icon-rewind:before {
  content: "";
}

.icon-fast-forward:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-chevron-up:before {
  content: "";
}

.icon-chevron-down:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-gear:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-triangle-down:before {
  content: "";
}

.icon-triangle-up:before {
  content: "";
}

.icon-triangle-left:before {
  content: "";
}

.icon-triangle-right:before {
  content: "";
}

.icon-plus2:before {
  content: "";
}

.icon-minus2:before {
  content: "";
}

.icon-ctrl:before {
  content: "";
}

.icon-address-book:before {
  content: "";
}

.icon-alarm:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-html5:before {
  content: "";
}

.icon-html52:before {
  content: "";
}

.icon-uniE000:before {
  content: "";
}

.icon-uniE001:before {
  content: "";
}

.icon-uniE002:before {
  content: "";
}

.icon-uniE003:before {
  content: "";
}

.icon-uniE004:before {
  content: "";
}

.icon-uniE005:before {
  content: "";
}

.icon-uniE006:before {
  content: "";
}

.icon-uniE007:before {
  content: "";
}

.icon-uniE008:before {
  content: "";
}

.icon-uniE009:before {
  content: "";
}

.icon-uniE00A:before {
  content: "";
}

.icon-uniE00B:before {
  content: "";
}

.icon-uniE00C:before {
  content: "";
}

.icon-uniE00D:before {
  content: "";
}

.icon-uniE00E:before {
  content: "";
}

.icon-uniE014:before {
  content: "";
}

.icon-uniE00F:before {
  content: "";
}

.icon-uniE010:before {
  content: "";
}

.icon-uniE011:before {
  content: "";
}

.icon-uniE012:before {
  content: "";
}

.icon-uniE013:before {
  content: "";
}

.icon-uniE015:before {
  content: "";
}

.icon-uniE016:before {
  content: "";
}

.icon-uniE017:before {
  content: "";
}

.icon-uniE018:before {
  content: "";
}

.icon-uniE019:before {
  content: "";
}

.icon-uniE01B:before {
  content: "";
}

.icon-uniE01C:before {
  content: "";
}

.icon-uniE01D:before {
  content: "";
}

.icon-uniE01E:before {
  content: "";
}

.icon-uniE01F:before {
  content: "";
}

.icon-uniE020:before {
  content: "";
}

.icon-uniE021:before {
  content: "";
}

.icon-uniE022:before {
  content: "";
}

.icon-uniE023:before {
  content: "";
}

.icon-uniE024:before {
  content: "";
}

.icon-uniE026:before {
  content: "";
}

.icon-uniE027:before {
  content: "";
}

.icon-uniE028:before {
  content: "";
}

.icon-uniE029:before {
  content: "";
}

.icon-uniE02A:before {
  content: "";
}

.icon-uniE02B:before {
  content: "";
}

.icon-uniE02C:before {
  content: "";
}

.icon-uniE02F:before {
  content: "";
}

.icon-uniE030:before {
  content: "";
}

.icon-uniE031:before {
  content: "";
}

.icon-uniE032:before {
  content: "";
}

.icon-uniE033:before {
  content: "";
}

.icon-uniE034:before {
  content: "";
}

.icon-uniE035:before {
  content: "";
}

.icon-uniE036:before {
  content: "";
}

.icon-uniE037:before {
  content: "";
}

.icon-uniE038:before {
  content: "";
}

.icon-uniE03D:before {
  content: "";
}

.icon-uniE03E:before {
  content: "";
}

.icon-uniE040:before {
  content: "";
}

.icon-uniE041:before {
  content: "";
}

.icon-uniE042:before {
  content: "";
}

.icon-uniE043:before {
  content: "";
}

.icon-uniE044:before {
  content: "";
}

.icon-uniE046:before {
  content: "";
}

.icon-uniE047:before {
  content: "";
}

.icon-uniE048:before {
  content: "";
}

.icon-uniE049:before {
  content: "";
}

.icon-uniE04A:before {
  content: "";
}

.icon-uniE04B:before {
  content: "";
}

.icon-uniE04C:before {
  content: "";
}

.icon-uniE04F:before {
  content: "";
}

.icon-uniE052:before {
  content: "";
}

.icon-uniE053:before {
  content: "";
}

.icon-uniE054:before {
  content: "";
}

.icon-uniE055:before {
  content: "";
}

.icon-uniE056:before {
  content: "";
}

.icon-uniE059:before {
  content: "";
}

.icon-uniE05E:before {
  content: "";
}

.icon-uniE05F:before {
  content: "";
}

.icon-uniE060:before {
  content: "";
}

.icon-uniE061:before {
  content: "";
}

.icon-uniE062:before {
  content: "";
}

.icon-uniE063:before {
  content: "";
}

.icon-uniE064:before {
  content: "";
}

.icon-uniE065:before {
  content: "";
}

.icon-uniE066:before {
  content: "";
}

.icon-uniE067:before {
  content: "";
}

.icon-uniE068:before {
  content: "";
}

.icon-uniE069:before {
  content: "";
}

.icon-uniE06A:before {
  content: "";
}

.icon-uniE06B:before {
  content: "";
}

.icon-uniE073:before {
  content: "";
}

.icon-uniE075:before {
  content: "";
}

.icon-uniE077:before {
  content: "";
}

.icon-uniE079:before {
  content: "";
}

.icon-uniE07B:before {
  content: "";
}

.icon-uniE07C:before {
  content: "";
}

.icon-uniE07D:before {
  content: "";
}

.icon-uniE07E:before {
  content: "";
}

.icon-uniE080:before {
  content: "";
}

.icon-uniE081:before {
  content: "";
}

.icon-uniE08F:before {
  content: "";
}

.icon-uniE093:before {
  content: "";
}

.icon-uniE094:before {
  content: "";
}

.icon-uniE097:before {
  content: "";
}

.icon-uniE099:before {
  content: "";
}

.icon-uniE09B:before {
  content: "";
}

.icon-uniE09D:before {
  content: "";
}

.icon-uniE09E:before {
  content: "";
}

.icon-uniE0A0:before {
  content: "";
}

.icon-uniE0C3:before {
  content: "";
}

.icon-uniE0C7:before {
  content: "";
}

.icon-uniE0CE:before {
  content: "";
}

.icon-uniE600:before {
  content: "";
}

.icon-uniE601:before {
  content: "";
}

.icon-uniE602:before {
  content: "";
}

.icon-uniEAE4:before {
  content: "";
}

.icon-uniE605:before {
  content: "";
}

.icon-uniE606:before {
  content: "";
}

.icon-uniE607:before {
  content: "";
}

.icon-uniE90E:before {
  content: "";
}

.icon-uniE962:before {
  content: "";
}

.icon-uniE97A:before {
  content: "";
}

.icon-uniE0A4:before {
  content: "";
}

.icon-uniE982:before {
  content: "";
}

.icon-uniE9BC:before {
  content: "";
}

.icon-uniE9C9:before {
  content: "";
}

.icon-uniE9CA:before {
  content: "";
}

.icon-uniEA6E:before {
  content: "";
}

.icon-uniE9CE:before {
  content: "";
}

.icon-uniEA54:before {
  content: "";
}

.icon-uniEA8B:before {
  content: "";
}

.icon-uniE0A6:before {
  content: "";
}

.icon-uniEA89:before {
  content: "";
}

.icon-uniE0A8:before {
  content: "";
}

.icon-uniEA8D:before {
  content: "";
}

.icon-uniEA90:before {
  content: "";
}

.icon-uniE0B8:before {
  content: "";
}

.icon-uniEA91:before {
  content: "";
}

.icon-uniEA92:before {
  content: "";
}

.icon-uniEA94:before {
  content: "";
}

.icon-uniEA95:before {
  content: "";
}

.icon-uniEA99:before {
  content: "";
}

.icon-uniEA9C:before {
  content: "";
}

.icon-uniEA9D:before {
  content: "";
}

.icon-uniEAA0:before {
  content: "";
}

.icon-uniEAA2:before {
  content: "";
}

.icon-uniEAB5:before {
  content: "";
}

.icon-uniEAB2:before {
  content: "";
}

.icon-uniEAB3:before {
  content: "";
}

.icon-uniEABA:before {
  content: "";
}

.icon-uniEABB:before {
  content: "";
}

.icon-uniEABC:before {
  content: "";
}

.icon-uniEAC8:before {
  content: "";
}

.icon-uniEAD1:before {
  content: "";
}

/* Preload images */
body:after {
  content: url(../images/loading-circle.gif);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading-circle.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 35%;
  left: 0;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  color: #fff;
  font-size: 2em;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.lb-nav a.lb-prev:hover {
  text-decoration: none;
}
.lb-nav a.lb-prev:before {
  position: absolute;
  top: 48%;
  left: 10%;
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 35%;
  right: 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  color: #fff;
  font-size: 2em;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.lb-nav a.lb-next:hover {
  text-decoration: none;
}
.lb-nav a.lb-next:before {
  position: absolute;
  top: 48%;
  right: 10%;
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.5;
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  text-decoration: none;
}
.lb-data .lb-close:before {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Nav */
.page-nav {
  border-bottom: 4px solid #a6a6a6;
  background-color: #fff;
  color: #333;
  text-align: left;
}
@media only screen and (min-width: 500px) {
  .page-nav {
    position: fixed;
    top: 50%;
    left: 0;
    border: none;
    background-color: #01b5ae;
    transform: translateY(-60%);
    z-index: 200;
  }
}
.nav-closed .page-nav {
  display: none;
}
@media only screen and (min-width: 500px) {
  .nav-closed .page-nav {
    display: block;
  }
}
.page-nav .nav-item {
  position: relative;
  display: block;
  border-bottom: 1px solid #ccc;
  cursor: default;
}
.page-nav .nav-item:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
@media only screen and (min-width: 500px) {
  .page-nav .nav-item {
    color: #fff;
    border-color: #01827d;
  }
}
@media only screen and (min-width: 500px) {
  .page-nav .nav-item:first-child {
    background-color: #017873;
  }
}
.page-nav .nav-item:last-child {
  border-bottom: none;
}
.page-nav .nav-item:hover .sub-nav {
  display: block;
}
.page-nav .nav-item:hover .nav-item-text {
  color: #01b5ae;
}
@media only screen and (min-width: 500px) {
  .page-nav .nav-item:hover .nav-item-text {
    color: #fff;
  }
}
.page-nav .nav-item:hover .nav-item-text:after {
  content: "";
}
@media only screen and (min-width: 500px) {
  .page-nav .nav-item.selected {
    background-color: #0091c5;
  }
}
@media only screen and (min-width: 500px) {
  .page-nav .nav-item:hover, .page-nav .nav-item.selected:hover {
    background-color: #333;
    color: #fff;
  }
}
.page-nav .nav-item-toggle {
  display: none;
  cursor: pointer;
}
@media only screen and (min-width: 500px) {
  .page-nav .nav-item-toggle {
    display: block;
  }
}
.page-nav .nav-item-text {
  font-size: 1.1em;
  padding: 0.8em;
}
@media only screen and (min-width: 500px) {
  .page-nav .nav-item-text {
    float: right;
    font-family: "Raleway", sans-serif;
    font-size: 1.3em;
    line-height: 0.6;
    font-weight: bold;
    padding-left: 1.2em;
    padding-right: 0;
  }
}
.page-nav .nav-item-text:after {
  float: right;
  font-family: "icons";
  color: #a6a6a6;
  font-weight: normal;
  content: "";
}
@media only screen and (min-width: 500px) {
  .page-nav .nav-item-text:after {
    display: none;
  }
}
@media only screen and (min-width: 500px) {
  .nav-closed .page-nav .nav-item-text {
    display: none;
  }
}
.page-nav .icon-section {
  display: none;
  float: right;
  font-size: 1.4em;
  margin: 0 0.6em 0 0.4em;
  line-height: 2.2;
}
@media only screen and (min-width: 500px) {
  .page-nav .icon-section {
    display: block;
  }
}
.page-nav .sub-nav {
  display: none;
  padding: 1em 1.5em;
  background-color: #01b5ae;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2) inset;
}
@media only screen and (min-width: 500px) {
  .page-nav .sub-nav {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 150px;
    padding: 0;
    color: #fff;
    background-color: #333;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-left: none;
    box-shadow: none;
    z-index: 300;
  }
}
.page-nav .sub-nav a {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
}
@media only screen and (min-width: 500px) {
  .page-nav .sub-nav a {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 1em;
    border-color: rgba(0, 0, 0, 0.5);
  }
}
.page-nav .sub-nav a:last-child {
  border: none;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 500px) {
  .page-nav .sub-nav a:last-child {
    padding: 1em;
  }
}
@media only screen and (min-width: 500px) {
  .page-nav .sub-nav a:hover {
    background-color: #111;
    text-decoration: none;
  }
}

/* Nav Toggle Button */
.nav-toggle-btn {
  float: left;
  padding: 0.8em;
  font-family: "icons";
  font-size: 1.4em;
  color: #939393;
  background-color: #fff;
  line-height: 1;
  cursor: pointer;
}
@media only screen and (min-width: 500px) {
  .nav-toggle-btn {
    display: none;
  }
}
.nav-toggle-btn:hover {
  color: #2d2d2d;
}
.nav-closed .nav-toggle-btn {
  background-color: transparent;
}

/* Nav Icons */
.nav-toggle-btn:before {
  content: "";
}
.nav-closed .nav-toggle-btn:before {
  content: "";
}

.icon-open:before {
  content: "";
}
.nav-closed .icon-open:before {
  content: "";
}

.icon-web:before {
  content: "";
}

.icon-2d:before {
  content: "";
}

.icon-3d:before {
  content: "";
}

.icon-animation:before {
  content: "";
}

.icon-code:before {
  content: "";
}

/* Page Head */
.page-head:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
@media only screen and (min-width: 500px) {
  .page-head {
    text-align: center;
  }
}

.page-logo {
  display: block;
  float: left;
  margin-left: 1em;
  margin-top: 0.8em;
  width: 90px;
  height: 32px;
  background: transparent url("../images/logo_nm.svg") center center no-repeat;
  background-size: contain;
}
@media only screen and (min-width: 500px) {
  .page-logo {
    float: none;
    display: inline-block;
    margin: 1.5em 0 0 0;
  }
}

/* Page Footer */
.page-footer {
  background-color: #ccc;
  text-align: center;
  margin-top: 1em;
  padding: 3em 0 1em 0;
  border-top: 1px solid #a6a6a6;
  color: #666;
  line-height: 1.5em;
}
.page-footer:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
.page-footer .icon-github:before {
  content: "";
}
.page-footer .icon-facebook:before {
  content: "";
}
.page-footer .icon-linkedin:before {
  content: "";
}
.page-footer .icon-google-plus:before {
  content: "";
}
.page-footer .icon-tumblr:before {
  content: "";
}
.page-footer .icon-myeyes:before {
  content: "";
}
.page-footer .button {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 750px) {
  .page-footer .col1,
.page-footer .col2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
}
@media only screen and (min-width: 750px) {
  .page-footer .col1 {
    margin-right: 4em;
  }
}
.page-footer .col2 {
  margin-top: 2.5em;
}
@media only screen and (min-width: 400px) {
  .page-footer .col2 {
    margin-top: 0;
  }
}
.page-footer .footer-title {
  font-size: 1.2em;
  color: #111;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4em;
  color: #666;
  margin-bottom: 1em;
}
.page-footer .social-icons-wrap {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 750px) {
  .page-footer .social-icons-wrap {
    display: inline-block;
  }
}
.page-footer .social-icons-wrap .social-icons {
  text-align: center;
  margin-left: 3.5em;
}
@media only screen and (min-width: 400px) {
  .page-footer .social-icons-wrap .social-icons {
    margin-left: 0;
  }
}
.page-footer .social-icons-wrap ul {
  text-align: left;
}
@media only screen and (min-width: 400px) {
  .page-footer .social-icons-wrap ul {
    display: inline-block;
    margin-right: 3em;
  }
}
.page-footer .social-icons-wrap ul:last-child {
  margin-right: 0;
}
.page-footer .social-icons-wrap li {
  margin-bottom: 1.35em;
}
.page-footer .social-icons-wrap a {
  color: #666;
}
.page-footer .social-icons-wrap a:hover {
  text-decoration: none;
  color: #1a1a1a;
}
.page-footer .social-icons-wrap .social-title {
  display: inline-block;
  padding-bottom: 0.2em;
  font-size: 1.15em;
  vertical-align: bottom;
}
@media only screen and (min-width: 400px) {
  .page-footer .social-icons-wrap .social-title {
    padding-bottom: 0.2em;
  }
}
.page-footer .social-icons-wrap .icon {
  font-size: 1.7em;
  margin-right: 0.1em;
}
.page-footer .copyright {
  margin-top: 1.5em;
  color: #939393;
}

/* Homepage */
.site-home {
  /* General */
}
@media only screen and (min-width: 500px) {
  .site-home .page-head {
    margin-bottom: 2em;
    text-align: center;
  }
}
@media only screen and (min-width: 500px) {
  .site-home .page-logo {
    height: 60px;
    width: 165px;
  }
}
.site-home .mod-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  color: #333;
  padding-bottom: 0.4em;
  margin-bottom: 0.8em;
  border-bottom: 1px dotted #939393;
}
.site-home .details-title {
  font-size: 1.2em;
  color: #111;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4em;
  margin-top: 1.3em;
}
.site-home .details-title.first {
  margin-top: 0;
}
.site-home .page-intro-wrap {
  max-width: 1100px;
  margin: 0 auto 3em auto;
}
.site-home .page-intro-wrap:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
.site-home .page-intro {
  margin-bottom: 2.5em;
}
@media only screen and (min-width: 750px) {
  .site-home .page-intro {
    float: left;
    width: 50%;
    padding-right: 4em;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}
.site-home .page-intro.show-bio .bio-button {
  display: none;
}
.site-home .page-intro.show-bio .page-bio-text {
  display: block;
}
.site-home .page-intro .bio-button {
  display: block;
  text-align: center;
  margin-bottom: 0.5em;
  color: #0091c5;
  cursor: pointer;
}
@media only screen and (min-width: 750px) {
  .site-home .page-intro .bio-button {
    display: none;
  }
}
.site-home .page-intro .bio-button:hover {
  color: black;
  text-decoration: underline;
}
.site-home .page-intro-text {
  font-family: "Raleway", sans-serif;
  color: #666;
  text-align: center;
  line-height: 1.3;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 750px) {
  .site-home .page-intro-text {
    text-align: left;
  }
}
.site-home .page-bio-text {
  display: none;
  line-height: 1.4;
  padding: 0.5em;
}
@media only screen and (min-width: 500px) {
  .site-home .page-bio-text {
    padding: 0;
  }
}
@media only screen and (min-width: 750px) {
  .site-home .page-bio-text {
    display: block;
  }
}
.site-home .page-teasers:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
@media only screen and (min-width: 750px) {
  .site-home .page-teasers {
    float: right;
    width: 50%;
    margin: 0;
  }
}
.site-home .page-teasers .intro-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  color: #333;
  text-align: center;
  margin-bottom: 0.4em;
}
@media only screen and (min-width: 750px) {
  .site-home .page-teasers .intro-title {
    text-align: left;
  }
}
.site-home .page-teasers .teaser-item {
  padding: 0.5em;
  box-sizing: border-box;
}
@media only screen and (min-width: 500px) {
  .site-home .page-teasers .teaser-item {
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 750px) {
  .site-home .page-teasers .teaser-item {
    float: none;
    width: auto;
  }
}
@media only screen and (min-width: 950px) {
  .site-home .page-teasers .teaser-item {
    float: left;
    width: 50%;
  }
}
.site-home .page-teasers .teaser-item:hover .teaser-item-title {
  background-color: #111;
}
.site-home .page-teasers .teaser-item-inner {
  position: relative;
  border: 1px solid #a6a6a6;
}
.site-home .page-teasers .teaser-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 0.8em;
  padding: 0.5em 0.8em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #111;
}
.site-home .mod-wrap {
  line-height: 1.4;
  font-size: 1.2em;
}
.site-home .mod-wrap:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
@media only screen and (min-width: 500px) {
  .site-home .mod-wrap {
    line-height: 1.2;
    font-size: 1em;
  }
}
.site-home .mod-wrap .mod-half,
.site-home .mod-wrap .mod-full {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 750px) {
  .site-home .mod-wrap .mod-half,
.site-home .mod-wrap .mod-full {
    padding: 1em;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 750px) {
  .site-home .mod-wrap .mod-half {
    float: left;
    width: 50%;
  }
}
.site-home .mod-wrap .mod-inner {
  background-color: rgba(150, 150, 150, 0.2);
  padding: 1em;
  box-sizing: border-box;
}
.site-home .mod-wrap .mod-inner:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
.site-home .mod-list-item {
  padding-bottom: 1.2em;
  margin-bottom: 1.2em;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.site-home .mod-list-item:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
@media only screen and (min-width: 500px) {
  .site-home .mod-list-item {
    text-align: left;
  }
}
@media only screen and (min-width: 750px) {
  .site-home .mod-list-item {
    float: left;
    padding-right: 2em;
    padding-bottom: 0;
    margin-bottom: 2em;
    border-bottom: none;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 950px) {
  .site-home .mod-list-item {
    width: 50%;
  }
}
@media only screen and (min-width: 750px) {
  .site-home .mod-list-item:nth-child(even) {
    clear: left;
  }
}
.site-home .mod-list-item:last-child {
  padding: 0;
  margin: 0;
  border-bottom: none;
}
.site-home .mod-list-item img {
  margin-bottom: 1em;
}
@media only screen and (min-width: 500px) {
  .site-home .mod-list-item img {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
  }
}
.site-home .mod-list-item .game-thumb {
  border: 1px solid #a6a6a6;
  padding: 0.2em;
}
.site-home .mod-list-item .mod-list-item-title {
  font-size: 1.2em;
  color: #111;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4em;
}
.site-home .code-links {
  margin-bottom: 3em;
}
.site-home .code-links-title {
  font-size: 1.2em;
  color: #111;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4em;
  margin-top: 1em;
}
.site-home .code-links-title:first-child {
  margin-top: 0;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  color: #111;
  background-color: #eee;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  line-height: 1;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
  border: none;
  vertical-align: top;
  max-width: 100%;
}

a {
  color: #0091c5;
  transition: color 0.3s;
}
a:link, a:active, a:visited {
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}

.icon {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clear-fix:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}

.hr {
  height: 1px;
  width: 50%;
  margin: 1em auto;
  background-color: #a6a6a6;
}
.hr.space-below {
  margin-bottom: 2em;
}

.button {
  display: inline-block;
  padding: 0.7em 1.2em;
  font-size: 15px;
  color: #fff;
  border: none;
  background-color: #0091c5;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #474747;
}

/* General */
.page-side:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}

.page-content {
  margin: 0.8em;
}
@media only screen and (min-width: 500px) {
  .page-content {
    margin: 2em 1.2em;
  }
}
@media only screen and (min-width: 750px) {
  .page-content {
    margin-left: 3em;
    margin-right: 3em;
  }
}

@media only screen and (min-width: 500px) {
  .page-main {
    padding-left: 10em;
  }
}
@media only screen and (min-width: 500px) {
  .nav-closed .page-main {
    padding-left: 3em;
  }
}

/* Titles */
.section-title {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 1.6em;
  color: #01b5ae;
  padding-bottom: 0.2em;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
  border-bottom: 8px solid #01b5ae;
}
@media only screen and (min-width: 500px) {
  .section-title {
    font-size: 2em;
    padding: 0 1.2em 0.1em 1.2em;
  }
}

.section-title2 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #fff;
  background-color: #01b5ae;
  margin-bottom: 0.4em;
  padding: 0.3em;
}
@media only screen and (min-width: 500px) {
  .section-title2 {
    font-size: 1.4em;
  }
}

.section-title-wrap {
  text-align: center;
  margin-bottom: 3em;
  border-bottom: 1px solid #01b5ae;
}
.section-title-wrap.icons-below {
  margin-bottom: 1.2em;
}

/* Thumbnails */
.thumbnails-container:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
.thumbnails-container.shape-circle .thumbnail-inner {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 8px rgba(1, 181, 174, 0.3);
  border: 2px solid #01b5ae;
}
.thumbnails-container.shape-circle .thumbnail-overlay {
  transform: scale(0.1);
  border-radius: 50%;
}
@media only screen and (min-width: 500px) {
  .thumbnails-container.shape-circle .thumbnail-item:hover .expand-button {
    display: block;
  }
}
.thumbnails-container.shape-rounded .thumbnail-inner {
  border-radius: 8px;
  box-shadow: 0px 0px 0px 8px rgba(1, 181, 174, 0.3);
  border: 2px solid #01b5ae;
}
.thumbnails-container.shape-rounded .thumbnail-overlay {
  transform: scale(1.25);
  border-radius: 7px;
}
.thumbnails-container.shape-square .thumbnail-inner {
  border-radius: 0;
  box-shadow: none;
  border: 2px solid #939393;
}
.thumbnails-container.shape-square .thumbnail-overlay {
  border-radius: 0;
}
.thumbnails-container .thumbnail-item {
  float: left;
  width: 50%;
  margin-bottom: 2.5em;
  padding: 0 1.2em;
  box-sizing: border-box;
}
@media only screen and (min-width: 400px) {
  .thumbnails-container .thumbnail-item {
    width: 33%;
  }
}
@media only screen and (min-width: 750px) {
  .thumbnails-container .thumbnail-item {
    max-width: 175px;
    width: 25%;
  }
}
.thumbnails-container .thumbnail-item .thumbnail-inner {
  position: relative;
  padding-top: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: box-shadow 0.3s;
}
.thumbnails-container .thumbnail-item .thumbnail-inner:hover {
  border-color: #0091c5;
  box-shadow: 0px 0px 0px 0px rgba(1, 181, 174, 0.3);
}
.thumbnails-container .thumbnail-item .thumbnail-inner:hover .thumbnail-overlay {
  opacity: 1;
  transform: scale(1);
}
.thumbnails-container .thumbnail-item .thumbnail-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 145, 197, 0.9);
  opacity: 0;
  color: #fff;
  text-align: center;
  padding: 0 0.6em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  transition: scale 0.3s, opacity 0.3s;
}
.thumbnails-container .thumbnail-item .thumbnail-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.thumbnails-container .thumbnail-item .thumbnail-cell {
  display: table-cell;
  vertical-align: middle;
}
.thumbnails-container .thumbnail-item .thumbnail-title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
}
@media only screen and (min-width: 750px) {
  .thumbnails-container .thumbnail-item .thumbnail-title {
    font-size: 1.25em;
    line-height: 1.15;
  }
}
.thumbnails-container .thumbnail-item .thumbnail-specs {
  margin-top: 0.5em;
}
.thumbnails-container .thumbnail-item .thumbnail-footer {
  font-size: 0.8em;
  text-align: center;
  margin-top: 1.5em;
}
.thumbnails-container .thumbnail-item .thumbnail-pos {
  position: relative;
}
.thumbnails-container .thumbnail-item .expand-button {
  display: none;
  position: absolute;
  bottom: -0.2em;
  right: -0.2em;
  color: #a6a6a6;
}
.thumbnails-container .thumbnail-item .expand-button:before {
  content: "";
}
.thumbnails-container .thumbnail-item .expand-button:hover {
  color: #666;
}

/* Misc */
.examples-section {
  margin-bottom: 4em;
}
.examples-section .examples-dek {
  line-height: 1.3;
  margin-bottom: 1.4em;
}
.examples-section .examples-item-sprite,
.examples-section .examples-item-flash {
  float: left;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
  text-align: center;
}
.examples-section .examples-item-video {
  margin-bottom: 2.5em;
}
@media only screen and (min-width: 500px) {
  .examples-section .examples-item-video {
    float: left;
    width: 50%;
    padding: 0 1em;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 750px) {
  .examples-section .examples-item-video {
    width: 33%;
  }
}
@media only screen and (min-width: 950px) {
  .examples-section .examples-item-video {
    width: 300px;
  }
}
.examples-section .examples-item-title {
  font-size: 0.9em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.5em;
}

.code-block-wrap {
  margin-bottom: 4em;
}
.code-block-wrap:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
.code-block-wrap .code-block {
  font-family: monospace;
  background-color: #333;
  color: #fff;
  padding: 0.5em 0.6em;
  overflow-x: auto;
  box-sizing: border-box;
  border-radius: 5px;
}
.code-block-wrap .code-caption {
  color: #333;
  margin-top: 0.3em;
  margin-bottom: 0.8em;
  font-size: 0.82em;
}
.code-block-wrap .code-block-text {
  line-height: 1.3;
  margin-top: 1.2em;
  word-wrap: break-word;
}

.page-section-intro {
  text-align: center;
  margin-bottom: 2em;
  max-width: 600px;
  margin: 0 auto 2em auto;
  padding: 0 1.5em;
  line-height: 1.4;
}

.section-thumb-icons {
  text-align: center;
  margin-bottom: 3.5em;
}
.section-thumb-icons span {
  display: inline-block;
  border: 1px solid #939393;
  padding: 0.6em;
  margin: 0 0.5em;
  cursor: pointer;
}
.section-thumb-icons span:hover:not(.is-active) {
  border-color: #111;
}
.section-thumb-icons span.is-active {
  border-color: rgba(166, 166, 166, 0.6);
  cursor: default;
}
.section-thumb-icons span.shape-circle {
  border-radius: 50%;
}
.section-thumb-icons span.shape-rounded {
  border-radius: 5px;
}

/*# sourceMappingURL=main.css.map */
