@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  background-color: #eee;
  color: #111;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  line-height: 1;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: top;
}

a {
  color: #0091c5;
  transition: color 0.2s;
}
a:link, a:active, a:visited {
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

.clear-fix:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.hr {
  background-color: #a6a6a6;
  height: 1px;
  margin: 1em auto;
  width: 50%;
}
.hr.space-below {
  margin-bottom: 2em;
}

.button {
  background-color: #0091c5;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.7rem 1.2rem;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #3c3c3c;
  color: #fff;
  text-decoration: none;
}

@font-face {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  src: url("icons/icons.eot?idfjxo");
  src: url("icons/icons.eot?#iefixidfjxo") format("embedded-opentype"), url("icons/icons.ttf?idfjxo") format("truetype"), url("icons/icons.woff?idfjxo") format("woff"), url("icons/icons.svg?idfjxo#icomoon") format("svg");
}
[class^=icon-],
[class*=" icon-"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "icons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

/*
 * Icon classes.
 */
.icon-github:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-tumblr:before {
  content: "";
}

.icon-myeyes:before {
  content: "";
}

.icon-paper:before {
  content: "";
}

.icon-zoom-in:before {
  content: "";
}

.icon-zoom-out:before {
  content: "";
}

.icon-rewind:before {
  content: "";
}

.icon-fast-forward:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-chevron-up:before {
  content: "";
}

.icon-chevron-down:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-gear:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-triangle-down:before {
  content: "";
}

.icon-triangle-up:before {
  content: "";
}

.icon-triangle-left:before {
  content: "";
}

.icon-triangle-right:before {
  content: "";
}

.icon-plus2:before {
  content: "";
}

.icon-minus2:before {
  content: "";
}

.icon-ctrl:before {
  content: "";
}

.icon-address-book:before {
  content: "";
}

.icon-alarm:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-html5:before {
  content: "";
}

.icon-html52:before {
  content: "";
}

.icon-uniE000:before {
  content: "";
}

.icon-uniE001:before {
  content: "";
}

.icon-uniE002:before {
  content: "";
}

.icon-uniE003:before {
  content: "";
}

.icon-uniE004:before {
  content: "";
}

.icon-uniE005:before {
  content: "";
}

.icon-uniE006:before {
  content: "";
}

.icon-uniE007:before {
  content: "";
}

.icon-uniE008:before {
  content: "";
}

.icon-uniE009:before {
  content: "";
}

.icon-uniE00A:before {
  content: "";
}

.icon-uniE00B:before {
  content: "";
}

.icon-uniE00C:before {
  content: "";
}

.icon-uniE00D:before {
  content: "";
}

.icon-uniE00E:before {
  content: "";
}

.icon-uniE014:before {
  content: "";
}

.icon-uniE00F:before {
  content: "";
}

.icon-uniE010:before {
  content: "";
}

.icon-uniE011:before {
  content: "";
}

.icon-uniE012:before {
  content: "";
}

.icon-uniE013:before {
  content: "";
}

.icon-uniE015:before {
  content: "";
}

.icon-uniE016:before {
  content: "";
}

.icon-uniE017:before {
  content: "";
}

.icon-uniE018:before {
  content: "";
}

.icon-uniE019:before {
  content: "";
}

.icon-uniE01B:before {
  content: "";
}

.icon-uniE01C:before {
  content: "";
}

.icon-uniE01D:before {
  content: "";
}

.icon-uniE01E:before {
  content: "";
}

.icon-uniE01F:before {
  content: "";
}

.icon-uniE020:before {
  content: "";
}

.icon-uniE021:before {
  content: "";
}

.icon-uniE022:before {
  content: "";
}

.icon-uniE023:before {
  content: "";
}

.icon-uniE024:before {
  content: "";
}

.icon-uniE026:before {
  content: "";
}

.icon-uniE027:before {
  content: "";
}

.icon-uniE028:before {
  content: "";
}

.icon-uniE029:before {
  content: "";
}

.icon-uniE02A:before {
  content: "";
}

.icon-uniE02B:before {
  content: "";
}

.icon-uniE02C:before {
  content: "";
}

.icon-uniE02F:before {
  content: "";
}

.icon-uniE030:before {
  content: "";
}

.icon-uniE031:before {
  content: "";
}

.icon-uniE032:before {
  content: "";
}

.icon-uniE033:before {
  content: "";
}

.icon-uniE034:before {
  content: "";
}

.icon-uniE035:before {
  content: "";
}

.icon-uniE036:before {
  content: "";
}

.icon-uniE037:before {
  content: "";
}

.icon-uniE038:before {
  content: "";
}

.icon-uniE03D:before {
  content: "";
}

.icon-uniE03E:before {
  content: "";
}

.icon-uniE040:before {
  content: "";
}

.icon-uniE041:before {
  content: "";
}

.icon-uniE042:before {
  content: "";
}

.icon-uniE043:before {
  content: "";
}

.icon-uniE044:before {
  content: "";
}

.icon-uniE046:before {
  content: "";
}

.icon-uniE047:before {
  content: "";
}

.icon-uniE048:before {
  content: "";
}

.icon-uniE049:before {
  content: "";
}

.icon-uniE04A:before {
  content: "";
}

.icon-uniE04B:before {
  content: "";
}

.icon-uniE04C:before {
  content: "";
}

.icon-uniE04F:before {
  content: "";
}

.icon-uniE052:before {
  content: "";
}

.icon-uniE053:before {
  content: "";
}

.icon-uniE054:before {
  content: "";
}

.icon-uniE055:before {
  content: "";
}

.icon-uniE056:before {
  content: "";
}

.icon-uniE059:before {
  content: "";
}

.icon-uniE05E:before {
  content: "";
}

.icon-uniE05F:before {
  content: "";
}

.icon-uniE060:before {
  content: "";
}

.icon-uniE061:before {
  content: "";
}

.icon-uniE062:before {
  content: "";
}

.icon-uniE063:before {
  content: "";
}

.icon-uniE064:before {
  content: "";
}

.icon-uniE065:before {
  content: "";
}

.icon-uniE066:before {
  content: "";
}

.icon-uniE067:before {
  content: "";
}

.icon-uniE068:before {
  content: "";
}

.icon-uniE069:before {
  content: "";
}

.icon-uniE06A:before {
  content: "";
}

.icon-uniE06B:before {
  content: "";
}

.icon-uniE073:before {
  content: "";
}

.icon-uniE075:before {
  content: "";
}

.icon-uniE077:before {
  content: "";
}

.icon-uniE079:before {
  content: "";
}

.icon-uniE07B:before {
  content: "";
}

.icon-uniE07C:before {
  content: "";
}

.icon-uniE07D:before {
  content: "";
}

.icon-uniE07E:before {
  content: "";
}

.icon-uniE080:before {
  content: "";
}

.icon-uniE081:before {
  content: "";
}

.icon-uniE08F:before {
  content: "";
}

.icon-uniE093:before {
  content: "";
}

.icon-uniE094:before {
  content: "";
}

.icon-uniE097:before {
  content: "";
}

.icon-uniE099:before {
  content: "";
}

.icon-uniE09B:before {
  content: "";
}

.icon-uniE09D:before {
  content: "";
}

.icon-uniE09E:before {
  content: "";
}

.icon-uniE0A0:before {
  content: "";
}

.icon-uniE0C3:before {
  content: "";
}

.icon-uniE0C7:before {
  content: "";
}

.icon-uniE0CE:before {
  content: "";
}

.icon-uniE600:before {
  content: "";
}

.icon-uniE601:before {
  content: "";
}

.icon-uniE602:before {
  content: "";
}

.icon-uniEAE4:before {
  content: "";
}

.icon-uniE605:before {
  content: "";
}

.icon-uniE606:before {
  content: "";
}

.icon-uniE607:before {
  content: "";
}

.icon-uniE90E:before {
  content: "";
}

.icon-uniE962:before {
  content: "";
}

.icon-uniE97A:before {
  content: "";
}

.icon-uniE0A4:before {
  content: "";
}

.icon-uniE982:before {
  content: "";
}

.icon-uniE9BC:before {
  content: "";
}

.icon-uniE9C9:before {
  content: "";
}

.icon-uniE9CA:before {
  content: "";
}

.icon-uniEA6E:before {
  content: "";
}

.icon-uniE9CE:before {
  content: "";
}

.icon-uniEA54:before {
  content: "";
}

.icon-uniEA8B:before {
  content: "";
}

.icon-uniE0A6:before {
  content: "";
}

.icon-uniEA89:before {
  content: "";
}

.icon-uniE0A8:before {
  content: "";
}

.icon-uniEA8D:before {
  content: "";
}

.icon-uniEA90:before {
  content: "";
}

.icon-uniE0B8:before {
  content: "";
}

.icon-uniEA91:before {
  content: "";
}

.icon-uniEA92:before {
  content: "";
}

.icon-uniEA94:before {
  content: "";
}

.icon-uniEA95:before {
  content: "";
}

.icon-uniEA99:before {
  content: "";
}

.icon-uniEA9C:before {
  content: "";
}

.icon-uniEA9D:before {
  content: "";
}

.icon-uniEAA0:before {
  content: "";
}

.icon-uniEAA2:before {
  content: "";
}

.icon-uniEAB5:before {
  content: "";
}

.icon-uniEAB2:before {
  content: "";
}

.icon-uniEAB3:before {
  content: "";
}

.icon-uniEABA:before {
  content: "";
}

.icon-uniEABB:before {
  content: "";
}

.icon-uniEABC:before {
  content: "";
}

.icon-uniEAC8:before {
  content: "";
}

.icon-uniEAD1:before {
  content: "";
}

/* Preload images */
body:after {
  content: url(../images/loading-circle.gif);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading-circle.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 35%;
  left: 0;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  color: #fff;
  font-size: 2em;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.lb-nav a.lb-prev:hover {
  text-decoration: none;
}
.lb-nav a.lb-prev:before {
  position: absolute;
  top: 48%;
  left: 10%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 35%;
  right: 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  color: #fff;
  font-size: 2em;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.lb-nav a.lb-next:hover {
  text-decoration: none;
}
.lb-nav a.lb-next:before {
  position: absolute;
  top: 48%;
  right: 10%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.5;
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  text-decoration: none;
}
.lb-data .lb-close:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.PageNav {
  background-color: #fff;
  border-top: 1px solid #a6a6a6;
  bottom: 0;
  color: #555;
  left: 0;
  position: fixed;
  right: 0;
  top: 4rem;
  transform: translateX(100%);
  transition: transform 0.4s ease-out;
  z-index: 200;
}
@media only screen and (min-width: 750px) {
  .PageNav {
    border: none;
    border-radius: 0 6px 6px 0;
    bottom: auto;
    box-shadow: 0px 0px 0px 6px rgba(17, 17, 17, 0.25);
    left: 0;
    overflow: hidden;
    right: auto;
    top: 50%;
    transform: translate3d(-1px, -62%, 0);
    transition: none;
  }
}
.PageNav--open {
  transform: translateX(0);
}

.PageNav-box {
  overflow-x: hidden;
  overflow-y: auto;
}
@media only screen and (min-width: 750px) {
  .PageNav-box {
    overflow: visible;
  }
}

.PageNav-item {
  border-bottom: 1px dotted #a6a6a6;
  cursor: default;
  display: block;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (min-width: 750px) {
  .PageNav-item {
    position: relative;
  }
  .PageNav-item:hover {
    background-color: #01b5ae;
    color: #fff;
  }
  .PageNav-item:hover .PageNav-secondary {
    display: block;
  }
  .PageNav-item:last-child {
    border: none;
  }
  .PageNav-item--selected:before {
    background-color: #0091c5;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;
  }
}
.PageNav-item--open > .PageNav-secondary {
  display: block;
}
.PageNav-item--open .PageNav-itemArrow:after {
  transform: rotate(180deg);
}

.PageNav-primary {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 750px) {
  .PageNav-primary {
    justify-content: left;
    padding: 0.7rem 0.8rem 0.6rem 1rem;
  }
}

.PageNav-itemIcon {
  display: none;
  font-size: 1.1rem;
}
@media only screen and (min-width: 750px) {
  .PageNav-itemIcon {
    display: block;
  }
}
.PageNav-itemIcon:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}
.PageNav-itemIcon--web:before {
  content: "";
}
.PageNav-itemIcon--2d:before {
  content: "";
}
.PageNav-itemIcon--3d:before {
  content: "";
}
.PageNav-itemIcon--animation:before {
  content: "";
}

.PageNav-itemText {
  font-size: 1.1rem;
  margin-left: 0.6rem;
}

.PageNav-itemArrow {
  cursor: pointer;
  padding: 0.8rem 1.2rem;
}
@media only screen and (min-width: 750px) {
  .PageNav-itemArrow {
    display: none;
  }
}
.PageNav-itemArrow:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
  display: block;
  font-size: 1rem;
  transition: transform 0.4s;
}

.PageNav-secondary {
  background-color: #0091c5;
  box-shadow: 0px 4px 4px -2px rgba(17, 17, 17, 0.2) inset;
  display: none;
  padding-top: 0.2rem;
}
@media only screen and (min-width: 750px) {
  .PageNav-secondary {
    background-color: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 0 6px 6px 6px;
    box-shadow: none;
    left: 100%;
    min-width: 150px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 300;
  }
}

.PageNav-secondaryItem {
  border-bottom: 1px dotted #eee;
  display: block;
}
.PageNav-secondaryItem:last-child {
  border: none;
}
@media only screen and (min-width: 750px) {
  .PageNav-secondaryItem {
    border-bottom-color: #a6a6a6;
  }
  .PageNav-secondaryItem:hover {
    background-color: #555;
  }
}

.PageNav-secondaryItemLink {
  color: #fff;
  display: block;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  padding: 0.8rem;
  text-shadow: 1px 1px 4px rgba(17, 17, 17, 0.6);
}
.PageNav-secondaryItemLink:hover {
  color: #fff;
}
@media only screen and (min-width: 750px) {
  .PageNav-secondaryItemLink {
    border-color: #a6a6a6;
    color: #555;
    text-shadow: none;
  }
}

.PageHead {
  margin-top: 1rem;
  text-align: center;
}
@media only screen and (min-width: 750px) {
  .PageHead {
    margin-left: 1rem;
    text-align: left;
  }
}

.PageHead-toggle {
  color: #888;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (min-width: 750px) {
  .PageHead-toggle {
    display: none;
  }
}
.PageHead-toggle:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
}
.PageHead-toggle--open:before {
  content: "";
  font-size: 1.1rem;
}

.PageHead-logo {
  background: transparent url("../images/logo_nm.svg") center center no-repeat;
  background-size: contain;
  display: inline-block;
  height: 28px;
  width: 80px;
}
@media only screen and (min-width: 750px) {
  .PageHead-logo {
    display: block;
    height: 40px;
    left: 0.9rem;
    position: absolute;
    top: 1.2rem;
    width: 120px;
  }
}

.PageFooter {
  background-color: #ccc;
  border-top: 6px solid rgba(17, 17, 17, 0.15);
  color: #555;
  padding: 3rem 2rem 1rem;
}
.PageFooter:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.PageFooter a {
  color: #333;
  font-weight: bold;
}
.PageFooter a:hover {
  color: #090909;
}

@media only screen and (min-width: 750px) {
  .PageFooter-layout {
    display: flex;
    justify-content: center;
  }
}

.PageFooter-section {
  border-top: 1px solid #a6a6a6;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}
.PageFooter-section:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.PageFooter-section:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 750px) {
  .PageFooter-section {
    border-top: none;
    margin-top: 0;
    margin-right: 3rem;
    padding-top: 0;
  }
}

.PageFooter-title {
  color: #111;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4em;
  color: #555;
  margin: 2rem 0 1rem;
}
.PageFooter-title:first-child {
  margin-top: 0;
}

.PageFooter-social {
  display: flex;
}

.PageFooter-socialItem {
  font-size: 0.9rem;
  margin-right: 1rem;
}

.PageFooter-icon {
  font-size: 1.7rem;
  margin-right: 0.1rem;
}

.PageFooter-button {
  margin-bottom: 1.5rem;
}

.PageFooter-copyright {
  color: #888;
  font-size: 0.8rem;
  margin-top: 3.5rem;
  text-align: center;
}

/* Homepage */
.site-home {
  /* General */
}
@media only screen and (min-width: 500px) {
  .site-home .page-head {
    margin-bottom: 2em;
    text-align: center;
  }
}
@media only screen and (min-width: 500px) {
  .site-home .page-logo {
    height: 60px;
    width: 165px;
  }
}
.site-home .mod-title {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  padding-bottom: 0.4em;
  margin-bottom: 0.8em;
  border-bottom: 1px dotted #888;
}
.site-home .details-title {
  color: #111;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4em;
  margin-top: 1.3em;
}
.site-home .details-title.first {
  margin-top: 0;
}
.site-home .page-intro-wrap {
  max-width: 1100px;
  margin: 0 auto 3em auto;
}
.site-home .page-intro-wrap:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.site-home .page-intro {
  margin-bottom: 2.5em;
}
@media only screen and (min-width: 750px) {
  .site-home .page-intro {
    float: left;
    width: 50%;
    padding-right: 4em;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}
.site-home .page-intro.show-bio .bio-button {
  display: none;
}
.site-home .page-intro.show-bio .page-bio-text {
  display: block;
}
.site-home .page-intro .bio-button {
  display: block;
  text-align: center;
  margin-bottom: 0.5em;
  color: #0091c5;
  cursor: pointer;
}
@media only screen and (min-width: 750px) {
  .site-home .page-intro .bio-button {
    display: none;
  }
}
.site-home .page-intro .bio-button:hover {
  color: black;
  text-decoration: underline;
}
.site-home .page-intro-text {
  font-family: "Raleway", sans-serif;
  color: #555;
  text-align: center;
  line-height: 1.3;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 750px) {
  .site-home .page-intro-text {
    text-align: left;
  }
}
.site-home .page-bio-text {
  display: none;
  line-height: 1.4;
  padding: 0.5em;
}
@media only screen and (min-width: 500px) {
  .site-home .page-bio-text {
    padding: 0;
  }
}
@media only screen and (min-width: 750px) {
  .site-home .page-bio-text {
    display: block;
  }
}
.site-home .page-teasers:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
@media only screen and (min-width: 750px) {
  .site-home .page-teasers {
    float: right;
    width: 50%;
    margin: 0;
  }
}
.site-home .page-teasers .intro-title {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.4em;
}
@media only screen and (min-width: 750px) {
  .site-home .page-teasers .intro-title {
    text-align: left;
  }
}
.site-home .page-teasers .teaser-item {
  padding: 0.5em;
  box-sizing: border-box;
}
@media only screen and (min-width: 500px) {
  .site-home .page-teasers .teaser-item {
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 750px) {
  .site-home .page-teasers .teaser-item {
    float: none;
    width: auto;
  }
}
@media only screen and (min-width: 950px) {
  .site-home .page-teasers .teaser-item {
    float: left;
    width: 50%;
  }
}
.site-home .page-teasers .teaser-item:hover .teaser-item-title {
  background-color: #111;
}
.site-home .page-teasers .teaser-item-inner {
  position: relative;
  border: 1px solid #a6a6a6;
}
.site-home .page-teasers .teaser-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 0.8em;
  padding: 0.5em 0.8em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #111;
}
.site-home .mod-wrap {
  line-height: 1.4;
  font-size: 1.2em;
}
.site-home .mod-wrap:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
@media only screen and (min-width: 500px) {
  .site-home .mod-wrap {
    line-height: 1.2;
    font-size: 1em;
  }
}
.site-home .mod-wrap .mod-half,
.site-home .mod-wrap .mod-full {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 750px) {
  .site-home .mod-wrap .mod-half,
.site-home .mod-wrap .mod-full {
    padding: 1em;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 750px) {
  .site-home .mod-wrap .mod-half {
    float: left;
    width: 50%;
  }
}
.site-home .mod-wrap .mod-inner {
  background-color: rgba(150, 150, 150, 0.2);
  padding: 1em;
  box-sizing: border-box;
}
.site-home .mod-wrap .mod-inner:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.site-home .mod-list-item {
  padding-bottom: 1.2em;
  margin-bottom: 1.2em;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.site-home .mod-list-item:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
@media only screen and (min-width: 500px) {
  .site-home .mod-list-item {
    text-align: left;
  }
}
@media only screen and (min-width: 750px) {
  .site-home .mod-list-item {
    float: left;
    padding-right: 2em;
    padding-bottom: 0;
    margin-bottom: 2em;
    border-bottom: none;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 950px) {
  .site-home .mod-list-item {
    width: 50%;
  }
}
@media only screen and (min-width: 750px) {
  .site-home .mod-list-item:nth-child(even) {
    clear: left;
  }
}
.site-home .mod-list-item:last-child {
  padding: 0;
  margin: 0;
  border-bottom: none;
}
.site-home .mod-list-item img {
  margin-bottom: 1em;
}
@media only screen and (min-width: 500px) {
  .site-home .mod-list-item img {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
  }
}
.site-home .mod-list-item .game-thumb {
  border: 1px solid #a6a6a6;
  padding: 0.2em;
}
.site-home .mod-list-item .mod-list-item-title {
  color: #111;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4em;
}
.site-home .code-links {
  margin-bottom: 3em;
}
.site-home .code-links-title {
  color: #111;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4em;
  margin-top: 1em;
}
.site-home .code-links-title:first-child {
  margin-top: 0;
}

html.is-locked,
body.is-locked {
  overflow: hidden;
}

.PageContent {
  margin: 1.4rem 0.8rem;
}
@media only screen and (min-width: 750px) {
  .PageContent {
    margin: 1.8rem 2rem 2rem 12rem;
  }
}

/* 
 * Sections. 
 */
.SectionTitle {
  border-bottom: 8px solid #01b5ae;
  color: #01b5ae;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 1.6em;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 0.2em;
  text-transform: uppercase;
}
@media only screen and (min-width: 500px) {
  .SectionTitle {
    font-size: 2rem;
    padding: 0 0.4rem 0.1rem 0.4rem;
  }
}

.SectionTitle2 {
  background-color: #0091c5;
  color: #fff;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: 0.04em;
  margin-bottom: 0.6em;
  padding: 0.3em 0.5em;
}
@media only screen and (min-width: 500px) {
  .SectionTitle2 {
    font-size: 1.2em;
    margin-bottom: 0.8em;
  }
}

.SectionTitle-wrap {
  border-bottom: 1px solid #01b5ae;
  margin-bottom: 3rem;
  text-align: center;
}
.SectionTitle-wrap--icons {
  margin-bottom: 1.2rem;
}

.SectionIntro {
  line-height: 1.4;
  margin-bottom: 2rem;
  max-width: 600px;
  margin: 0 auto 2rem auto;
  padding: 0 1.5rem;
  text-align: center;
}

/* 
 * Thumbnails 
 */
.Thumbnails-container:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.Thumbnails-shape--circle .Thumbnails-inner {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 8px rgba(1, 181, 174, 0.3);
  border: 2px solid #01b5ae;
}
.Thumbnails-shape--circle .Thumbnails-overlay {
  border-radius: 50%;
}
.Thumbnails-shape--rounded .Thumbnails-inner {
  border: 2px solid #01b5ae;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 8px rgba(1, 181, 174, 0.3);
}
.Thumbnails-shape--rounded .Thumbnails-overlay {
  border-radius: 7px;
}
.Thumbnails-shape--square .Thumbnails-inner {
  border: 2px solid #888;
  border-radius: 0;
  box-shadow: none;
}
.Thumbnails-shape--square .Thumbnails-overlay {
  border-radius: 0;
}

.Thumbnails-item {
  box-sizing: border-box;
  float: left;
  margin-bottom: 2.5em;
  padding: 0 1.2em;
  width: 50%;
}
@media only screen and (min-width: 400px) {
  .Thumbnails-item {
    width: 33%;
  }
}
@media only screen and (min-width: 750px) {
  .Thumbnails-item {
    max-width: 175px;
    width: 25%;
  }
}
.Thumbnails-item:hover .Thumbnails-overlay {
  opacity: 1;
}
.Thumbnails-item:hover .Thumbnails-inner {
  border-color: #0091c5;
  box-shadow: none;
}
@media only screen and (min-width: 500px) {
  .Thumbnails-item:hover .Expand-icon {
    display: block;
  }
}

.Thumbnails-pos {
  position: relative;
}

.Thumbnails-inner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100%;
  position: relative;
  margin: 0 auto;
  transition: box-shadow 0.4s;
}

.Thumbnails-overlay {
  background-color: rgba(0, 145, 197, 0.9);
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 0 0.6em;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  transition: opacity 0.4s, scale 0.4s;
}

.Thumbnails-title {
  font-size: 0.9rem;
  line-height: 1.2;
}

.Thumbnails-specs {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.Thumbnails-footer {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  text-align: center;
}

.Expand-icon {
  bottom: -0.2em;
  color: #a6a6a6;
  display: none;
  font-size: 1.1rem;
  position: absolute;
  right: -0.2em;
}
.Expand-icon:before {
  content: "";
  font-family: "icons";
}
.Expand-icon:hover {
  color: #555;
}

/* 
 * Examples. 
 */
.Examples-section {
  margin-bottom: 4rem;
}

.Examples-itemTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  text-align: center;
  margin-top: 0.5rem;
}

.Examples-dek {
  line-height: 1.3;
  margin-bottom: 1.4rem;
}

.Examples-item--sprite,
.Examples-item--flash {
  float: left;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  text-align: center;
}

.Examples-item--video {
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 500px) {
  .Examples-item--video {
    box-sizing: border-box;
    float: left;
    padding: 0 1rem;
    width: 50%;
  }
}
@media only screen and (min-width: 750px) {
  .Examples-item--video {
    width: 33%;
  }
}
@media only screen and (min-width: 950px) {
  .Examples-item--video {
    width: 300px;
  }
}

/*
 * Code block.
 */
.SectionCode {
  margin-bottom: 4rem;
}
.SectionCode:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.SectionCode-block {
  background-color: #333;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  font-family: monospace;
  overflow-x: auto;
  padding: 0.5rem 0.6rem;
}

.SectionCode-text {
  line-height: 1.3;
  margin-top: 1.2rem;
  word-wrap: break-word;
}

/*
 * Thumbnail Icons.
 */
.ThumbIcons {
  margin-bottom: 3.5rem;
  text-align: center;
}

.ThumbIcons-icon {
  border: 1px solid #888;
  cursor: pointer;
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.6rem;
}
.ThumbIcons-icon:hover:not(.ThumbIcons-icon--active) {
  border-color: #111;
}
.ThumbIcons-icon--active {
  border-color: #ccc;
  cursor: default;
}
.ThumbIcons-icon--circle {
  border-radius: 50%;
}
.ThumbIcons-icon--rounded {
  border-radius: 5px;
}

/*# sourceMappingURL=main.css.map */
