/* Page Head */
.page-head {
  @include clear-fix;

  @include media-query($bp-mobile) {
    text-align: center;
  }
}
.page-logo {
  display: block;
  float: left;
  margin-left: 1em;
  margin-top: .8em;
  width: 90px;
  height: 32px;
  background: transparent url('../images/logo_nm.svg') center center no-repeat;
  background-size: contain;

  @include media-query($bp-mobile) {
    float: none;
    display: inline-block;
    margin: 1.5em 0 0 0;
  }
}

/* Page Footer */
.page-footer {
  background-color: rgba(0,0,0,.2);
  text-align: center;
  margin-top: 1em;
  padding: 3em 0 2em 0;
  border-top: 1px solid rgba(0,0,0,.2);
  color: $mono2;
  font-size: .8em;
  line-height: 1.5em;

  .social-icons {
    margin-bottom: .8em;
    
    li {
      display: inline-block;
      margin: 0 .4em;
    }
    a {
      text-decoration: none;
    }
    .icon {
      color: $mono2;
      font-size: 2.2em;
      
      &:hover {
        color: darken($mono2, 30);
      }
    }
  }
  .icon-github:before {
    content: "\e1ad"; 
  }
  .icon-facebook:before {
    content: "\e1a0"; 
  }
  .icon-linkedin:before {
    content: "\e1b2"; 
  }
  .icon-google-plus:before {
    content: "\e19e"; 
  }
  .icon-tumblr:before {
    content: "\e1b1"; 
  }
  .icon-myeyes:before {
    content: "\e19b";
  }
}
