.PageHead {
    margin-top: 1rem;
    text-align: center;

    @include media-query($bp-tablet) {
        margin-left: 1rem;
        text-align: left;
    }
}
.PageHead-toggle {
    color: $mono3;
    cursor: pointer;
    font-family: 'icons';
    font-size: 1.4rem;
    line-height: 1;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;

    @include media-query($bp-tablet) {
        display: none;
    }
    &:before {
        content: $icon-hamburger;
    }
    &--open {
        &:before {
            content: $icon-x;
            font-size: 1.1rem;
        }
    }
}
.PageHead-logo {
    background: transparent url('../images/logo_nm.svg') center center no-repeat;
    background-size: contain;
    display: inline-block;
    height: 28px;
    width: 80px;

    @include media-query($bp-tablet) {
        display: block;
    }
}

.PageFooter {
    @include clear-fix;
    background-color: $mono5;
    border-top: 6px solid $mono4;
    color: $mono2;
    padding: 3rem 2rem 1rem;

    a {
        color: $mono1;
        font-weight: bold;

        &:hover {
            color: darken($mono2, 30%);
        }
    }
}
.PageFooter-layout {
    @include media-query($bp-tablet) {
        display: flex;
        justify-content: center;
    }
}
.PageFooter-section {
    border-top: 1px solid $mono4;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    
    &:first-child {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    @include media-query($bp-tablet) {
        border-top: none;
        margin-top: 0;
        margin-right: 3rem;
        padding-top: 0;
    }
}
.PageFooter-title {
    @include title5;
    color: $mono2;
    margin: 2rem 0 1rem;
    
    &:first-child {
        margin-top: 0;
    }
}
.PageFooter-social {
    display: grid;
    grid-template-columns: 10rem 10rem;
    grid-template-rows: 3rem 2rem;
    justify-items: flex-start;

    @include media-query($bp-minimum) {
        grid-template-columns: 7rem 7rem 7rem 7rem;
        grid-template-rows: 2rem;
    }
}
.PageFooter-socialItem {
    font-size: 0.9rem;
}
.PageFooter-icon {
    font-size: 1.7rem;
    margin-right: 0.1rem;
}
.PageFooter-iconTitle {
    display: inline-block;
    font-size: 1.15rem;
    padding-bottom: 0.2rem;
    vertical-align: bottom;
}
.PageFooter-button {
    margin-bottom: 1.5rem;
}
.PageFooter-copyright {
    color: $mono3;
    font-size: 0.8rem;
    margin-top: 3.5rem;
    text-align: center;
}
