@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";

$max-width: 1100;
$bp-minimum: 400;
$bp-mobile: 500;
$bp-tablet: 750;
$bp-desktop: 950;

$font1: arial, helvetica, sans-serif;
$font2: 'times new roman', georgia, serif;
$font3: 'Raleway', sans-serif;
$font4: 'Montserrat', sans-serif;

$color1: #0091c5;
$color2: #01b5ae;

$mono0: #111;
$mono1: #333;
$mono2: #666;
$mono3: #999;
$mono4: #a6a6a6;
$mono5: #ccc;
$mono6: #eee;
$mono10: #fff;

$trans-speed1: .3s;
$trans-speed2: .3s;

@mixin media-query($width) {
  @media only screen and (min-width: $width + 0px) {
    @content;
  }
}
@mixin clear-fix() {
  &:after {
    display: block;
    content: "\00a0";
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
  }
}
@mixin icon() {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin button() {
  display: inline-block;
  padding: .7em 1.2em;
  font-size: 15px;
  color: $mono10;
  border: none;
  background-color: $color1;
  @include border-radius(4px);
  @include transition(background-color, .3s);

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: darken($mono3, 30);
  }
}
@mixin title1() {
  display: inline-block;
  font-family: $font3;
  font-size: 1.6em;
  color: $color2;
  padding-bottom: .2em;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
  border-bottom: 8px solid $color2;

  @include media-query($bp-mobile) {
    font-size: 2em;
    padding: 0 1.2em .1em 1.2em;
  }
}
@mixin title2() {
  font-family: $font3;
  font-size: 1.5em;
  color: $mono1;
}
@mixin title3() {
  display: inline-block;
  font-family: $font4;
  font-size: 1.2em;
  color: #fff;
  background-color: $color2;
  margin-bottom: .4em;
  padding: .3em;

  @include media-query($bp-mobile) {
    font-size: 1.4em;
  }
}
@mixin title4() {
  font-size: 1.1em;
  color: $mono2;
  font-style: italic;
  margin-top: 1.4em;
  margin-bottom: .3em;
  
  &:first-child {
    margin-top: 0;
  }
}
@mixin title5() {
  font-size: 1.2em;
  color: $mono0;
  font-family: $font4;
}
@mixin title6() {
  font-size: .9em;
  font-family: $font4;
  text-transform: uppercase;
  text-align: center;
}
