@import "compass/css3/transform";
@import "compass/css3/border-radius";

$bp-mobile: 500;

$font1: arial, helvetica, sans-serif;
$font2: 'times new roman', georgia, serif;
$font3: 'Raleway', sans-serif;
$font4: 'Montserrat', sans-serif;

$color1: #0091c5;
$color2: #01b5ae;

$mono0: #111;
$mono1: #333;
$mono2: #666;
$mono3: #999;
$mono4: #aaa;
$mono5: #ccc;
$mono6: #eee;

@mixin media-query($width) {
  @media only screen and (min-width: $width + 0px) {
    @content;
  }
}
@mixin clear-fix() {
  &:after {
    display: block;
    content: "\00a0";
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
  }
}
@mixin button() {
  padding: .3em .6em;
  color: $mono6;
  border: none;
  background-color: $mono3;
  @include border-radius(4px);

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: darken($mono3, 30);
  }
}
