@import "helpers";
@import "reset";

@import "icons";
@import "lightbox";
@import "nav";
@import "header-footer";
@import "page-home";

html,
body {
    &.is-locked {
        overflow: hidden;
    }
}
.PageContent {
    margin: 1.4rem 0.8rem 3rem;

    @include media-query($bp-tablet) {
        margin: 1.8rem 2rem 6rem 12rem;
    }
}

/* 
 * Sections. 
 */
.SectionTitle {
    @include title1;
}
.SectionTitle2 {
    @include title3;
    display: inline-block;
    margin-bottom: 0.6em;

    @include media-query($bp-mobile) {
        margin-bottom: 0.8em;
    }
}
.SectionTitle-wrap {
    border-bottom: 1px solid $color2;
    margin-bottom: 3rem;
    text-align: center;

    &--icons {
        margin-bottom: 1.2rem;
    }
}
.SectionIntro {
    line-height: 1.4;
    margin-bottom: 2rem;
    max-width: 600px;
    margin: 0 auto 2rem auto;
    padding: 0 1.5rem;
    text-align: center;
}

/* 
 * Thumbnails 
 */
.Thumbnails-container {
    @include clear-fix;
}
.Thumbnails-shape {
    &--circle {
        .Thumbnails-inner {
            border-radius: 50%;
            box-shadow: 0px 0px 0px 8px rgba($color2, 0.3);
            border: 2px solid $color2;
        }
        .Thumbnails-overlay {
            border-radius: 50%;
        }
    }
    &--rounded {
        .Thumbnails-inner {
            border: 2px solid $color2;
            border-radius: 8px;
            box-shadow: 0px 0px 0px 8px rgba($color2, 0.3);
        }
        .Thumbnails-overlay {
            border-radius: 7px;
        }
    }
    &--square {
        .Thumbnails-inner {
            border: 2px solid $mono3;
            border-radius: 0;
            box-shadow: none;
        }
        .Thumbnails-overlay {
            border-radius: 0;
        }
    }
}
.Thumbnails-item {
    box-sizing: border-box;
    float: left;
    margin-bottom: 2.5em;
    padding: 0 1.2em;
    width: 50%;

    @include media-query($bp-minimum) {
        width: 33%;
    }
    @include media-query($bp-tablet) {
        max-width: 175px;
        width: 25%;
    }

    &:hover {
        .Thumbnails-overlay {
            opacity: 1;
        }
        .Thumbnails-inner {
            border-color: $color1;
            box-shadow: none;
        }
        .Expand-icon {
            @include media-query($bp-mobile) {
                display: block;
            }
        }
    }
}
.Thumbnails-pos {
    position: relative;
}
.Thumbnails-inner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100%;
    position: relative;
    margin: 0 auto;
    transition: box-shadow $trans-speed2;
}
.Thumbnails-overlay {
    background-color: rgba($color1, 0.9);
    bottom: 0;
    color: $mono10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 0 0.6em;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    transition: 
        opacity $trans-speed2,
        scale $trans-speed2;
}
.Thumbnails-title {
    font-size: 0.9rem;
    line-height: 1.2;
}
.Thumbnails-specs {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.Thumbnails-footer {
    font-size: 0.8rem;
    margin-top: 1.5rem;
    text-align: center;
}
.Expand-icon {
    bottom: -0.2em;
    color: $mono4;
    display: none;
    font-size: 1.1rem;
    position: absolute;
    right: -0.2em;

    &:before {
        @include icon;
        content: $icon-zoom;
    }
    &:hover {
        color: $mono2;
    }
}

/* 
 * Examples. 
 */
.Examples-section {
	margin-bottom: 4rem;
}
.Examples-itemTitle {
    @include title6();
    margin-top: 0.5rem;
}
.Examples-dek {
    line-height: 1.3;
    margin-bottom: 1.4rem;
}
.Examples-item--sprite,
.Examples-item--flash {
    float: left;
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
    text-align: center;
}
.Examples-item--video {
    margin-bottom: 2.5rem;
  
    @include media-query($bp-mobile) {
        box-sizing: border-box;
        float: left;
        padding: 0 1rem;
        width: 50%;
    }
    @include media-query($bp-tablet) {
        width: 33%;
    }
    @include media-query($bp-desktop) {
        width: 300px;
    }
}

/*
 * Code block.
 */
.SectionCode {
    @include clear-fix;
    margin-bottom: 4rem;
}
.SectionCode-block {
    background-color: $mono1;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: visible;
    padding: 0.5rem 0.6rem;
}
.SectionCode-pre {
    color: $mono10;
    font-family: monospace;
    white-space: pre-line;
}
.SectionCode-text {
    line-height: 1.3;
    margin-top: 1.2rem;
    word-wrap: break-word;
}

/*
 * Thumbnail Icons.
 */
.ThumbIcons {
    margin-bottom: 3.5rem;
    text-align: center;
}
.ThumbIcons-icon {
    border: 1px solid $mono3;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.6rem;

    &:hover:not(&--active) {
        border-color: $mono0;
    }
    &--active {
        border-color: $mono5;
        cursor: default;
    }
    &--circle {
        border-radius: 50%;
    }
    &--rounded {
        border-radius: 5px;
    }
    &--square {
    }
}
