@import "helpers";
@import "icons";
@import "lightbox";
@import "nav";
@import "header-footer";
@import "page-home";

html {
	height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: $font1;
	color: $mono0;
	background-color: $mono6;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	line-height: 1;
	vertical-align: bottom;

}
ul {
	list-style: none;
}
ul,
li {
  padding: 0;
  margin: 0;
}
p {
	padding: 0;
	margin: 0;
}
img {
	border: none;
	vertical-align: top;
	max-width: 100%;
}
a {
  color: $color1;
  @include transition(color, $trans-speed1);

  &:link,
  &:active,
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: darken($color1, 40);
    text-decoration: underline;
  }
}
.icon {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.clear-fix {
  @include clear-fix;
}
.hr {
	height: 1px;
	width: 50%;
	margin: 1em auto;
	background-color: $mono4;

  &.space-below {
    margin-bottom: 2em;
  }
}
.button {
  @include button;
}

/* General */
.page-side {
  @include clear-fix;
}
.page-content {
  margin: .8em;

  @include media-query($bp-mobile) {
    margin: 2em 1.2em;
  }
  @include media-query($bp-tablet) {
    margin-left: 3em;
    margin-right: 3em;
  }
}
.page-main {
  @include media-query($bp-mobile) {
    padding-left: 10em;
  }
  .nav-closed & {
    @include media-query($bp-mobile) {
      padding-left: 3em;
    }
  }
}

/* Titles */
.section-title {
  @include title1;
}
.section-title2 {
  @include title3;
}
.section-title-wrap {
  text-align: center;
  margin-bottom: 3em;
  border-bottom: 1px solid $color2;
  
  &.icons-below {
    margin-bottom: 1.2em;
  }
}

/* Thumbnails */
.thumbnails-container {
  @include clear-fix;
  
  &.shape-circle {
    .thumbnail-inner {
      @include border-radius(50%);
      box-shadow: 0px 0px 0px 8px rgba($color2, .3);
      border: 2px solid $color2;
    }
    .thumbnail-overlay {
      @include transform(scale(.1));
      @include border-radius(50%);
    }
    .thumbnail-item {
      &:hover {
        .expand-button {
          @include media-query($bp-mobile) {
            display: block;
          }
        }
      }
    }
  }
  &.shape-rounded {
    .thumbnail-inner {
      @include border-radius(8px);
      box-shadow: 0px 0px 0px 8px rgba($color2, .3);
      border: 2px solid $color2;
    }
    .thumbnail-overlay {
      @include transform(scale(1.25));
      @include border-radius(7px);
    }
  }
  &.shape-square {
    .thumbnail-inner {
      @include border-radius(0);
      box-shadow: none;
      border: 2px solid $mono3;
    }
    .thumbnail-overlay {
      @include border-radius(0);
    }
  }
  .thumbnail-item {
    float: left;
    width: 50%;
    margin-bottom: 2.5em;
    padding: 0 1.2em;
    @include box-sizing(border-box);
  
    @include media-query($bp-minimum) {
      width: 33%;
    }
    @include media-query($bp-tablet) {
      max-width: 175px;
      width: 25%;
    }
    .thumbnail-inner {
      position: relative;
      padding-top: 100%;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @include transition(box-shadow, $trans-speed2);

      &:hover {
        border-color: $color1;
        box-shadow: 0px 0px 0px 0px rgba($color2, .3);

        .thumbnail-overlay {
          opacity: 1;
          @include transform(scale(1));
        }
      }
    }
    .thumbnail-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($color1,.9);
      opacity: 0;
      color: $mono10;
      text-align: center;
      padding: 0 .6em;
      text-shadow: 0px 1px 2px rgba(0,0,0,.6);
      @include transition(scale, $trans-speed2);
      @include transition(opacity, $trans-speed2);
    }
    .thumbnail-table {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
    }
    .thumbnail-cell {
      display: table-cell;
      vertical-align: middle;
    }
    .thumbnail-title {
      font-size: 1em;
      font-weight: bold;
      line-height: 1.2;

      @include media-query($bp-tablet) {
        font-size: 1.25em;
        line-height: 1.15;
      }
    }
    .thumbnail-specs {
      margin-top: .5em;
    }
    .thumbnail-footer {
      font-size: .8em;
      text-align: center;
      margin-top: 1.5em;
    }
    .thumbnail-pos {
      position: relative;
    }
    .expand-button {
      display: none;
      position: absolute;
      bottom: -.2em;
      right: -.2em;
      color: $mono4;

      &:before {
        //content: "\e14d";
        content: "\e037";
      }
      &:hover {
        color: $mono2;
      }
    }
  }
}

/* Misc */
.examples-section {
	margin-bottom: 4em;
  
  .examples-dek {
    line-height: 1.3;
  	margin-bottom: 1.4em;
  }
  .examples-item-sprite,
  .examples-item-flash {
  	float: left;
  	margin-right: 1.2em;
  	margin-bottom: 1.2em;
  	text-align: center;
  }
  .examples-item-video {
    margin-bottom: 2.5em;
  
    @include media-query($bp-mobile) {
      float: left;
      width: 50%;
      padding: 0 1em;
      @include box-sizing(border-box);
    }
    @include media-query($bp-tablet) {
      width: 33%;
    }
    @include media-query($bp-desktop) {
    	width: 300px;
    }
  }
  .examples-item-title {
    @include title6();
    margin-top: .5em;
  }
}
.code-block-wrap {
  margin-bottom: 4em;
  @include clear-fix;
  
  .code-block {
    font-family: monospace;
    background-color: $mono1;
    color: $mono10;
    padding: .5em .6em;
    overflow-x: auto;
    @include box-sizing(border-box);
    @include border-radius(5px);
  }
  .code-caption {
    color: $mono1;
    margin-top: .3em;
    margin-bottom: .8em;
    font-size: .82em;
  }
  .code-block-text {
    line-height: 1.3;
    margin-top: 1.2em;
    word-wrap: break-word;
  }
}
.page-section-intro {
  text-align: center;
  margin-bottom: 2em;
  max-width: 600px;
  margin: 0 auto 2em auto;
  padding: 0 1.5em;
  line-height: 1.4;
}
.section-thumb-icons {
  text-align: center;
  margin-bottom: 3.5em;
  
  span {
    display: inline-block;
    border: 1px solid $mono3;
    padding: .6em;
    margin: 0 .5em;
    cursor: pointer;

    &:hover:not(.is-active) {
      border-color: $mono0;
    }
    &.is-active {
      border-color: rgba($mono4, .6);
      cursor: default;
    }
    &.shape-circle {
      @include border-radius(50%);
    }
    &.shape-rounded {
      @include border-radius(5px);
    }
    &.shape-square {
    }
  }
}
