@import "helpers";
@import "icons";
@import "nav";
@import "header-footer";
@import "page-home";

html {
	height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: $font1;
	color: $mono0;
	background-color: $mono6;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	line-height: 1;
	vertical-align: bottom;

}
ul {
	list-style: none;
}
ul,
li {
  padding: 0;
  margin: 0;
}
p {
	padding: 0;
	margin: 0;
}
img {
	border: none;
	vertical-align: top;
	max-width: 100%;
}
a {
  color: $color1;
  @include transition(color, $trans-speed1);

  &:link,
  &:active,
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: darken($color1, 40);
    text-decoration: underline;
  }
}
.icon {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.clear-fix {
  @include clear-fix;
}
.hr {
	height: 1px;
	width: 50%;
	margin: 1em auto;
	background-color: $mono4;

  &.space-below {
    margin-bottom: 2em;
  }
}
.button {
  @include button;
}

/* Titles */
.section-title {
  @include title1;
}
.section-title2 {
  @include title3;
}

/* Thumbnails */
.thumbnails-container {
  @include clear-fix;
  
  .thumbnail-item {
    float: left;
    width: 50%;
    margin-bottom: 2.2em;
    padding: 0 1.2em;
    @include box-sizing(border-box);
  
    @include media-query($bp-minimum) {
      width: 33%;
    }
    @include media-query($bp-tablet) {
      max-width: 175px;
      width: 25%;
    }
    .thumbnail-inner {
      position: relative;
      padding-top: 100%;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border: 1px solid $color2;
      @include border-radius(50%);
      box-shadow: 0px 0px 0px 8px rgba($color2, .3);
      @include transition(box-shadow, $trans-speed2);

      &:hover {
        border-color: $color1;
        box-shadow: 0px 0px 0px 0px rgba($color2, .3);

        .thumbnail-overlay {
          opacity: 1;
          @include transform(scale(1));
        }
      }
    }
    .thumbnail-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($color1,.9);
      opacity: 0;
      color: $mono10;
      text-align: center;
      padding: 0 .6em;
      text-shadow: 0px 1px 2px rgba(0,0,0,.6);
      @include border-radius(50%);
      @include transform(scale(.2));
      @include transition(scale, $trans-speed2);
      @include transition(opacity, $trans-speed2);
    }
    .thumbnail-table {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
    }
    .thumbnail-cell {
      display: table-cell;
      vertical-align: middle;
    }
    .thumbnail-title {
      font-size: 1.1em;
      font-weight: bold;
      line-height: 1.2;

      @include media-query($bp-tablet) {
        font-size: 1.25em;
        line-height: 1.15;
      }
    }
    .thumbnail-specs {
      margin-top: .5em;
    }
    .thumbnail-footer {
      font-size: .8em;
      text-align: center;
      margin-top: 1em;
    }
  }
}

/* General */
.page-side {
  @include clear-fix;
}
.page-content {
  margin: .8em;

  @include media-query($bp-mobile) {
    margin: 2em 3em;
  }
}
.page-main {
  @include media-query($bp-mobile) {
    padding-left: 10em;
  }
  .nav-closed & {
    @include media-query($bp-mobile) {
      padding-left: 3em;
    }
  }
}


.video-item {
	float: left;
  width: 50%;
  margin-bottom: 1.2em;
  max-width: 300px;

  @include media-query($bp-tablet) {
    width: 50%;
  }
  @include media-query($bp-desktop) {
    width: 33%;
  }
}
.video-wrap {
	margin: 0 .6em 0 .6em;
}
.video-wrap video {
	width: 100%;
}
.video-item .thumbnail-title {
	margin-top: .5em;
	text-align: center;
}
.description {
	margin-bottom: 1em;
}
.code {
	display: block;
	padding: .5em;
	background-color: #333;
	color: #fff;
	margin: 0 0 1em 0;
	overflow: auto;
}
.code-list .item-list {
	margin-left: 20px;
}
.code-list .item-list li {
	margin-bottom: .5em;
}
@include media-query($bp-mobile) {
  .code-list .item-list {
    padding-right: 20px;
  }
}
.code-display {
	margin-top: 2em;
	padding-top: 2em;
	border-top: 1px solid #999;
}
@include media-query($bp-mobile) {
  .code-display {
    float: right;
    width: 75%;
    padding-top: 0;
    margin-top: 0;
    border-top: none;
  }
  .code-display-inside {
    border-left: 1px solid #999;
    padding-left: 20px;
  }
}
.example,
.caption {
	font-size: .8em;
	color: #555;
}
.example:first-child {
	margin-top: 0;
}
.example {
	margin-top: 12px;
	margin-bottom: 4px;
}
.caption {
	margin: 4px 0 12px 0;
}

.examples-section {
	margin-bottom: 4em;
}
.examples-title {
	font-size: 1.4em;
	margin-bottom: .4em;
}
.examples-dek {
	margin-bottom: 1em;
}
.examples-item-sprite,
.examples-item-flash,
.examples-item-video {
	float: left;
	margin-right: 1.2em;
	margin-bottom: 1.2em;
	text-align: center;
}
.examples-item-video {
	width: 280px;
}
.examples-item-title {
  margin-top: .5em;
}
.code-block-wrap {
  margin-bottom: 4em;
  @include clear-fix;
}
.code-block {
  background-color: #333;
  color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
