RewriteEngine on

AddType audio/ogg .oga
AddType video/ogg .ogv
AddType application/ogg .ogg 

ErrorDocument 404 /404.php 

# Always use https for secure connections
# Replace 'www.example.com' with your domain name
# (as it appears on your SSL certificate)
