AddType audio/ogg .oga
AddType video/ogg .ogv
AddType application/ogg .ogg 

ErrorDocument 404 /404.php 

# Always use https for secure connections
# Replace 'www.example.com' with your domain name
# (as it appears on your SSL certificate)
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.meskauskis.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^meskauskis\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.meskauskis\.net$
RewriteRule ^/?$ "https\:\/\/www\.meskauskis\.com\/" [R=301,L]
