@import './partials/theme';

$buttonSize: 38px;
$buttonSpace: $buttonSize + 15px;
$sizerNavWidth: 150px;

@keyframes pulseIcon {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
a {
  &:link,
  &:active,
  &:visited {
    color: black;
    font-weight: bold;
  }
}
input {
  margin-left: 10px;
}

.PageContent {
  color: $color2;
  padding-top: 60px;
  box-sizing: border-box;
  //overflow: hidden;
  background: yellow;
}
.picker {
  position: fixed;
  right: 15px;
  z-index: 2;
  width: $sizerNavWidth;
  background-color: white;
  margin: 0;
}
.picker-category {
}
.picker-title {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 6px;
}
.picker-list {
  padding: 6px;
}
.picker-listItem {
  cursor: pointer;
  margin-bottom: 8px;
  
  &:last-child {
    margin-bottom: 0;
  }
  &--disabled {
    cursor: default;
    opacity: 0.5;
  }
}
.container2 {
  overflow-x: auto;
}
.container {
  display: inline-flex; 
  align-items: flex-end;
  position: relative;
  min-width: 100%;
  height: calc(100vh - 130px);
  padding-right: $sizerNavWidth + 50px;
  box-sizing: border-box;
}
.col {
  min-width: $buttonSize * 2;
  padding: 0 15px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  //position: relative;
  justify-content: flex-end;
  flex-direction: column;
  
  &:hover {
    .icon {
      animation: pulseIcon 0.6s alternate infinite;
    }
    .liner {
      &:before {
        content: '';
      }
    }
    .Col-button {
      opacity: 1;
    }
  }
}
.Col-button {
  //bottom: -$buttonSpace;
  cursor: pointer;
  height: $buttonSize;
  //left: 50%;
  //position: absolute;
  //transform: translateX(-50%);
  width: $buttonSize;
  margin-top: 15px;
  opacity: 0.4;
}
.liner {
  &:before {
    left: 0;
    content: none;
    width: 100%;
    position: absolute;
    border-top: 2px dashed red;
  }  
}
.icon {
  vertical-align: bottom;
  width: auto;
  height: 100%;
  transition: height 0.8s;
  //padding-bottom: $buttonSpace;
  //box-sizing: border-box;
}
.infoBox {
  background-color: white;
  padding: 8px;
  text-align: center;
  min-width: 150px;
  position: absolute;
  bottom: $buttonSize;
  border: 1px solid gray;
  border-radius: 6px;
  z-index: 1;
  margin-bottom: 5px;
}
.closeButton {
  width: 30px;
  display: block;
  margin: 10px auto 0;
  color: red;
}
