@import './partials/theme';
@import './partials/nav';

html,
body,
.PageContent,
.React,
.SizerContainerWrap,
.SizerContainer-col {
  height: 100%;
}
body {
  background-color: $color3;
  background: linear-gradient(180deg, $color2 0%, $color3 60%);
}
a {
  &:link,
  &:active,
  &:visited {
    color: $color-black;
    font-weight: bold;
  }
}

.PageContent {
  box-sizing: border-box;
  color: $color-gray1;
  padding-top: $headerSpacing;
}
.SizerContainerWrap {
  overflow-x: auto;
}
.SizerContainer {
  align-items: flex-end;
  box-sizing: border-box;
  display: inline-flex; 
  height: calc(100vh - 90px);
  min-width: 100%;
  padding: $infoHeight ($navWidth + 50px) ($buttonSize + 10px) 30px;
  position: relative;
  vertical-align: top;
}
.SizerGround {
  background: linear-gradient(0deg, rgba($color-black, 0) 0%, rgba($color-black, 0.2) 100%);
  bottom: 70px;
  height: 40px;
  position: absolute;
  width: 100vw;
}
.SizerContainer-col {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: $buttonSize * 2;
  padding: 0 15px;

  &:hover {
    .SizerContainer-item {
      animation: pulseIcon 0.6s alternate infinite;
    }
    .SizerContainer-line {
      &:before {
        content: '';
      }
    }
    .Button--close,
    .SizerContainer-info {
      opacity: 1;
    }
  }
}
.SizerContainer-info {
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba($color-black, 0.3);
  background-color: $color-white;
  box-sizing: border-box;
  min-width: 150px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -115%);
  transition: opacity $transition3 ease-in;
  z-index: 1;

  &:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
    bottom: -8px;
    content: '';
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 0;
  }
}
.SizerContainer-infoUnit {
  font-weight: bold;
  margin-top: 2px;
}
.SizerContainer-line {
  &:before {
    border-top: 2px dashed $color4;
    content: none;
    left: 0;
    position: absolute;
    width: 100%;
  }  
}
.SizerContainer-item {
  height: 100%;
  transition: height $transition1;
  vertical-align: bottom;
  width: auto;
}
.Button--close {
  bottom: 0;
  cursor: pointer;
  height: $buttonSize;
  opacity: 0;
  padding-top: 10px;
  position: absolute;
  transition: opacity $transition3 ease-in;
  width: $buttonSize;

  &.is-default {
    visibility: hidden;
  }
}
