@import './partials/theme';

a {
  &:link,
  &:active,
  &:visited {
    color: black;
    font-weight: bold;
  }
}
.PageContent {
  color: $color2;
  //padding: 60px 60px 90px;
  box-sizing: border-box;
  //overflow: hidden;
  background: yellow;
}

.temp {
  margin-bottom: 20px;
}
input {
  margin-left: 10px;
}

.icon-cat {
}
.icon-man {
}
.icon-building {
}
.icon {
  vertical-align: bottom;
  width: auto;
  height: 100%;
  transition: height 0.8s;
}
.container {
  display: flex; 
  align-items: flex-end;
  height: calc(100vh - 105px);
  position: relative;
  margin: 60px 60px 90px;
}
.colBig {
  height: 100%;
}
@keyframes pulseIcon {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
.col {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-right: 5px;
  position: relative;
  min-width: 15px;
  //padding-bottom: 35px;
  
  &:hover {
    .icon {
      animation: pulseIcon 0.6s alternate infinite;
    }
    + .line {
      display: block;
    }
  }
}
.button {
  position: fixed;
  top: 40px;
  padding: 10px;
  background: darkblue;
  color: white;
  display: inline-block;
}
.button-add {
  right: 40px;
}
.button-remove {
  right: 100px;
}
.picker {
  position: fixed;
  right: 0;
  z-index: 2;

   * {
     display: inline-block;
     margin-right: 8px;
   }
}
.line {
  display: none;
  //height: 2px;
  border-top: 2px dashed red;
  //background-color: red;
  width: 100%;
  position: absolute;
  left: 0;
}
.remove {
  //display: none;
  cursor: pointer;
  position: absolute;
  bottom: -35px;
  background: black;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
