@import "helpers";

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  height: 100%;
  padding: 1em;
  font-size: 14px;
  font-family: $font1;
  color: $mono0;
  background-color: $mono6;

  @include media-query($bp-mobile) {
    padding: 2em;
  }
}
ul {
  list-style: none;
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
}
a {
  color: $color1;
  @include transition(color, $trans-speed1);

  &:link,
  &:active,
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: $color2;
  }
}
.page-title {
  font-family: $font3;
  font-size: 1.8em;
  margin-bottom: 1em;
  text-align: center;

  @include media-query($bp-mobile) {
    font-size: 2.5em;
  }
}
.article-item {
  max-width: 900px;
  background-color: $mono10;
  border: 1px solid $mono5;
  padding: .8em;
  margin: 0 auto 1em auto;

  &.is-full {
    .article-body {
      white-space: normal;
      overflow: none;
      text-overflow: clip;
      margin-bottom: 0;
    }
    .read-more {
      display: none;
    }
  }
  .article-img {
    float: left;
    margin-right: .8em;
    margin-bottom: .6em;
  }
  .article-title {
    @include title1;
  }
  .article-date {
    font-family: $font3;
    color: $mono2;
    font-size: .8em;
    margin-bottom: .2em;
  }
  .article-tags {
    padding: 0;
    margin: 0 0 1.5em 0;
    clear: left;
    @include clear-fix;

    li {
      float: left;
      margin-right: .3em;
      
      a {
        font-size: .8em;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $mono3;
        color: $mono10;
        padding: .1em .4em;
        
        &:hover {
          background-color: $mono2;
        }
      }
    }
  }
  .article-body {
    font-family: $font2;
    font-size: 1.2em;
    line-height: 1.3;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .5em;
  }
  .read-more {
    display: inline-block;
    color: $color1;
    cursor: pointer;
    
    &:hover {
      color: $color2;
    }
  }
}
.flex-control-nav,
.flex-direction-nav {
  display: none;
}
