html,
body {
	padding: 0;
	margin: 0;
	color: #111;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
hr {
	border: none;
	height: 1px;
	background-color: #ccc;
	margin: 20px 0;
} 
a:link, a:active, a:visited {
	color: #000;
}
a:hover {
	text-decoration: none;
}
ul,
li {
	padding: 0;
	margin: 0;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	border: none;
	vertical-align: top;
}
h2 {
	text-align: left;
	font-size: 22px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
h3 {
	font-size: inherit;
	font-family: "Tenor Sans";
	padding: 8px;
	margin: 0;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
}
h3 p {
	font-weight: normal;
	padding: 0;
	margin: 5px 0 0 0;
	line-height: 1.3;
}
h4 {
	font-size: inherit;
	padding: 0;
	margin: 0 0 10px 0;
	font-weight: 400;
	font-family: "Lato";
	text-transform: uppercase;
	text-align: center;
}
.cf {
	width: 100%;
	overflow: hidden;
}
.default-font {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: none;
	font-size: 13px;
	letter-spacing: 0;
}
table .heads2,
table .heads td {
	border-bottom: 1px solid #ccc;
}
table .darken td {
	background-color: #eee;
}
table .good {
	color: green;
}
table .bad {
	color: #b4191f;
}
table .right {
	text-align: right;
}


.page-nav {
	text-align: center;
}
.page-nav img {
	display: inline-block;
}
.page-bar {
	font-family: "Lato";
	border-bottom: 1px solid #888;
	color: #555;
	padding: 2px 2px;
	margin-bottom: 25px;
	font-size: 18px;
}
.product-title {
	font-family: "Lato";
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 300;
	line-height: 1;
}
.page-title {
	font-family: "Tenor Sans";
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	margin: 15px 0 0 0;
	line-height: 1;
}
.page-subtitle {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	margin: 5px 0 30px 0;
}
.page-left {
	min-width: 88px;
	background-color: #eee;
}
.page-right {
	padding: 15px 30px 50px 30px;
}
.cat-shell,
.product-shell {
	width: 100%;
}
.cat-left {
	min-width: 220px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.calendar-wrap {
	display: inline-block;
	position: relative;
	font-size: 11px;
	margin: 0 auto;
	cursor: pointer;
}
.calendar {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}
.calendar-wrap:hover .calendar {
	display: block;
}
.product-left {
}
.product-left .info {
	width: 400px;
}
.cat-right {
	padding: 0 0 0 20px;
}
.product-right {
	padding: 0 0 0 20px;
}
.site-frame {
	position: relative;
	border: 1px solid #ccc;
	padding: 1px;
	width: 800px;
	margin: 25px auto 0 auto;
}
.info {
	border: 1px solid #ccc;
	margin-bottom: 15px;
}
.info table {
	width: 100%;
}
.info .inside {
	padding: 8px;
	margin: 0;
}
.blurb {
	font-family: "Lato";
	text-align: center;
	margin-bottom: 30px;
	padding: 0 30px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: .06em;
}
.boot-specs {
	width: 75%;
	margin: 0 auto 1.5em auto;
	font-size: .9em;
	color: #444;
}
.boot-specs a {
  color: #444;
}
.boot-specs li {
	list-style: circle;
	margin-bottom: .5em;
}

.overlay-target {
	position: absolute;
	width: 50px;
	height: 30px;
	border: 2px solid #b4191f;
	background-color: rgba(255,0,0,.15);
}
.overlay-target:hover {
	background-color: rgba(255,0,0,.40);
}
.overlay-target:hover .overlay {
	display: block;
}
.overlay {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgba(0,0,0,.85);
	border: 2px solid #000;
	color: #fff;
	padding: 6px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	z-index: 50;
}
.overlay a:link,
.overlay a:active,
.overlay a:visited {
	color: inherit;
}
.overlay li {
	display: inline-block;
	text-align: center;
	margin: 0 6px;
}
.overlay p {
	padding: 0;
	margin: 0 0 5px 0;
}
.overlay .highest {
	font-weight: bold;
	/*border-bottom: 2px solid green;*/
	color: green;
}
.btn {
	display: inline-block;
	margin-left: 6px;
	background-color: #eee;
	border: 1px solid #bbb;
	padding: 5px 8px;
	cursor: pointer;
}
.image-overlay {
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.image-overlay-text {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 40px 8px 8px 8px;
	margin: 0;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.5));
}
.image-bottom {
	margin-top: 8px;
	margin-bottom: 10px;
}
.ordered-list li {
	margin-bottom: 5px;
}
