<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="./css/main.css">
    {% endblock %}
</head>

<body>
    {% block pageNav %}
        {% include './components/nav.html.twig' with {} %}
    {% endblock pageNav %}

    base!

    {% block body %}{% endblock %}

    {% block pageJs %}
        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    {% endblock pageJs %}
</body>
</html>
