<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block pageTitle %}Welcome!{% endblock %}</title>

    {% block pageCss %}
        {{ encore_entry_link_tags('boilerplate') }}
        {{ encore_entry_link_tags('main') }}
        {{ encore_entry_link_tags('main2') }}
    {% endblock pageCss %}

    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
</head>

<body>
    {% block pageNav %}
        {% include './components/nav.html.twig' with {} %}
    {% endblock pageNav %}

    <div class="PageContent">
        {% block pageContent %}
        {% endblock pageContent %}
    </div>

    {% block pageJs %}
    {% endblock pageJs %}
</body>
</html>
