<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block pageCss %}
        {{ encore_entry_link_tags('app2') }}
    {% endblock pageCss %}
</head>

<body>
    {% block pageNav %}
        {% include './components/nav.html.twig' with {} %}
    {% endblock pageNav %}

    base!

    {% block body %}
    {% endblock %}

    {% block pageJs %}
    {% endblock pageJs %}
</body>
</html>
