{% extends "./base.html.twig" %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
    
    react goes here: 
    <div id="root"></div>
{% endblock body %}

{% block pageJs %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock pageJs %}
