{% extends "./base.html.twig" %}

{% block pageContent %}
    <h1 class="temp">
        Random number is {{ number }}
    </h1>

    <div id="root">
        React goes here
    </div>
{% endblock pageContent %}

{% block pageJs %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock pageJs %}
