{% extends "./base.html.twig" %}

{% block pageContent %}
    <div id="React" class="React">
    </div>
{% endblock pageContent %}

{% block pageJs %}
    {{ parent() }}
    {{ encore_entry_script_tags('sizer') }}
{% endblock pageJs %}
