<div class="PageIntro-wrap">
    <section class="PageIntro">
        <p class="PageIntro-welcome">
            Welcome to my online portfolio, showcasing my digital work through the years.
        </p>
        <div class="PageIntro-bioButton" id="PageIntro-bioButton" onclick="//" data-ng-click="bioShow();">
            Read more
        </div>
        <article class="PageIntro-bio" id="PageIntro-bio">
            I have worked in a variety of areas in the digital industy. I started my career in print design, doing page layout. Then from there I went into gaming and animation. That lead me into the advertising industry creating interactive animations. Currently I am working in web design/development, using everything I have learned along the way. I usually code and layout everything myself, because it offers me the customization that optimization that plugins don't allow.
        </article>
    </section>

    <section class="PageIntroTeasers">
        <h2 class="PageIntroTeasers-title">
            Recent Work
        </h2>
        <div class="PageIntroTeasers-items">
            <figure class="PageIntroTeasers-item" ng-repeat="(key, item) in [
                { 'title': 'Martha Stewart Videos', 'url': '#!/section/web/web-design', },
                { 'title': 'My Eyes Are Hungry', 'url': '#!/section/web/web-design', },
                { 'title': 'Boxer', 'url': '#!/section/3d/character-3d', },
                { 'title': 'Vector Art', 'url': '#!/section/2d/vector', },
            ]">
                <a href="{{item.url}}">
                    <img src="images/carousel{{key + 1}}.jpg" alt="{{item.title}}"/>
                    <h3 class="PageIntroTeasers-itemTitle">
                        {{item.title}}
                    </h3>
                </a>
            </figure>
        </div>
    </section>
</div>

<div class="PageIntroCard-wrap">
    <div data-card-block 
        data-title="My Info"
        data-subtitle="Employment"
        data-subtext='
            Currently at <a href="http://www.cbssports.com/" target="_blank" rel="nofollow">CBS Sports</a> as a <i>Senior Web Developer</i><br/>
            Austin, TX
        '
        data-subtitle2="Email"
        data-subtext2='
            meskauskis at gmail dot com
        '
    ></div>
    
    <div data-card-block 
        data-title="Background"
        data-subtitle="Education"
        data-subtext='
            Graduated from <a href="http://www.purdue.edu" target="_blank" rel="nofollow">Purdue</a><br/>
            Bachelor of Science in <i>Computer Graphics</i><br/>
            Minor in <i>Fine Arts</i> and <i>Computer Technology</i>
        '
        data-subtitle2="Resume"
        data-subtext2='
            <a class="Button" href="resume/resume_neil_meskauskis.pdf">Download PDF</a>
        '
    ></div>
</div>

<div data-card-block 
    data-title="Frequented Sites"
    data-subtitle="Dev"
    data-subtext='
        <a href="http://www.thebestdesigns.com" target="_blank" rel="nofollow">Best Designs</a><br />
        <a href="http://www.thefwa.com" target="_blank" rel="nofollow">FWA</a><br />
        <a href="http://www.mashable.com" target="_blank" rel="nofollow">Mashable</a><br />
        <a href="http://www.wired.com" target="_blank" rel="nofollow">Wired</a><br />
    '
    data-subtitle2="Technical"
    data-subtext2='
        <a href="http://www.color-hex.com" target="_blank" rel="nofollow">Color Hex</a><br />
        <a href="http://caniuse.com" target="_blank" rel="nofollow">Can I Use?</a><br />
        <a href="http://api.jquery.com" target="_blank" rel="nofollow">jQuery Doc</a><br />
        <a href="http://php.net/manual/en" target="_blank" rel="nofollow">PHP Doc</a><br />
        <a href="http://stackoverflow.com" target="_blank" rel="nofollow">Stack Overflow</a><br />
        <a href="http://w3schools.com" target="_blank" rel="nofollow">W3 Schools</a><br />
        <a href="https://css-tricks.com/" target="_blank" rel="nofollow">Css-Tricks</a><br />
        <a href="http://textmechanic.com/Remove-Empty-Lines.html" target="_blank" rel="nofollow">Remove Empty Lines</a><br />
        <a href="http://flexboxfroggy.com/" target="_blank" rel="nofollow">Flexbox Froggy</a><br />
        <a href="https://blog.codinghorror.com/coding-without-comments/" target="_blank" rel="nofollow">How To Use Comments</a>
    '
></div>

<div data-card-block 
    data-customclass="tiles"
    data-title="Recognition"
    data-subtitle="Webby Award"
    data-image='<a href="http://winners.webbyawards.com/2013/web/general-website/lifestyle/martha-stewart-living" target="_blank" rel="nofollow"><img src="images/webby.png" alt="webby"/></a>'
    data-subtext='
        While working at Martha Stewart, we won a Webby Award for best Lifestyle website of <a href="http://winners.webbyawards.com/2013/web/general-website/lifestyle/martha-stewart-living" target="_blank" rel="nofollow">2013</a> and <a href="http://winners.webbyawards.com/2014/web/general-website/lifestyle/martha-stewart-living" target="_blank" rel="nofollow">2014</a>!
    '
    data-subtitle2="Video SEO"
    data-image2='<a href="http://www.iacquire.com/blog/video-seo-winners-losers/" target="_blank" rel="nofollow"><img src="images/iacquire.png" alt="iacquire"/></a>'
    data-subtext2='
        Recognized Martha Stewart as a best-of sites in utilizing <a href="http://www.iacquire.com/blog/video-seo-winners-losers/" target="_blank" rel="nofollow">video SEO</a> best practice.
    '
></div>

<div data-card-block 
    data-customclass="games"
    data-customclass2="tiles"
    data-title="Games I've Worked On"
    data-subtitle="Abracadaball"
    data-image='<img src="images/splash_abracadaball.png" alt="abracadaball"/>'
    data-subtext='
        Put your wand skills to the test as you blast magic balls to make chains of 3 or more of the same color. I worked on UI and level design/graphics.
    '
    data-subtitle2="Reggie Bush Pro Football"
    data-image2='<img src="images/splash_reggie.png" alt="reggie bush"/>'
    data-subtext2='
        This is Gamelofts second installment in the Reggie Bush franchise. I worked on UI and character model/animation.
    '
    data-subtitle3="Johnny Whatever"
    data-image3='<img src="images/splash_jw.png" alt="johnny whatever"/>'
    data-subtext3='
        Johnny sets out to save his friends, and free the citizens, all in the name of Rock-N-Roll! I worked on UI and character model/animation.
    '
    data-subtitle4="Hit And Myth"
    data-image4='<img src="images/splash_hm.png" alt="hit and myth"/>'
    data-subtext4='
        Relive the days of SmashTV by taking out hordes of crazy enemies from elvis to orcs in a variety of wacky levels. I worked on UI and character model/animation.
    '
></div>
