<div class="section-title-wrap">
  <h1 class="section-title">
    {{sectionTitle}}
  </h1>
</div>

<p class="page-section-intro">
  These are examples of layout situations that tricked me up when I was first learning Css. 
  I hope it will help someone who is in the same situation I used to be.
</p>

<div data-code-block 
  data-title="2 Even Height Columns"
  data-example="
    <div style='border: 1px solid #000; width: 60%; overflow: hidden;'>
      <div style='float: left; width: 50%; background: yellow;'>this is some short text. this is some short text.</div>
      <div style='float: left; width: 50%; background: orange;'>this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text.</div>
    </div>
    <p class='code-caption'>(2 even width divs)</p>
    <div style='border: 1px solid #000; width: 60%; overflow: hidden;'>
      <div style='display: table-cell; width: 50%; background: yellow;'>this is some short text. this is some short text.</div>
      <div style='display: table-cell; width: 50%; background: orange;'>this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text.</div>
    </div>
    <p class='code-caption'>(2 even width divs with <i>display: table-cell</i>)</p>
  "
  data-text="
    This method is great if you don't want to set a height [however, doesn't work prior to ie8]. Don't be confused between using tables as layout and using table styles.
    With a <i>table-cell</i> layout, you can still toggle it on media queries.
  "
></div>

<div data-code-block 
  data-title="1 Short Column Middle Aligned With A Tall Column"
  data-example="
    <div style='border: 1px solid #000; width: 60%; overflow: hidden;'>
      <div style='float: left; width: 50%; background: yellow;'>this is some short text.</div>
      <div style='float: left; width: 50%; background: orange;'>this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text.</div>
    </div>
    <p class='code-caption'>(2 columns top aligned)</p>
    <div style='border: 1px solid #000; width: 60%; overflow: hidden;'>
      <div style='display: table-cell; vertical-align: middle; width: 50%;'><div style='background: yellow;'>this is some short text.</div></div>
      <div style='display: table-cell; width: 50%; background: orange;'>this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text.</div>
    </div>
    <p class='code-caption'>(1 column middle aligned with <i>vertical-align: middle</i>)</p>
  "
  data-text="
    You can absolutely position the short column, but if this column shrinks and it reaches the bottom then it will peak out. So once again, we'll use the <i>display: table-cell</i> layout. Since it mimics a table layout, you can now take advantage of <i>vertical-align</i>.
  "
></div>

<div data-code-block 
  data-title="1 Responsive Column and 1 Fixed Width Column"
  data-example="
    <div style='border: 1px solid #000; width: 50%; overflow: hidden;'>
      <div style='float: left; width: 100px; background: yellow;'>this is some short text. this is some short text.</div>
      <div style='float: right; width: 100%; background: orange;'>this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text.</div>
    </div>
    <p class='code-caption'>(1 div set to <i>100px</i> and another <i>100%</i>)</p>
    <div style='border: 1px solid #000; width: 50%; overflow: hidden;'>
      <div style='float: left; width: 100px; background: yellow;'>this is some short text. this is some short text.</div>
      <div style='float: right; width: 75%; background: orange;'>this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text.</div>
    </div>
    <p class='code-caption'>(1 div set to <i>100px</i> and another <i>75%</i>)</p>
    <div style='position: relative; border: 1px solid #000; width: 50%; overflow:hidden;'>
      <div style='width: 100px; background: yellow;'>this is some short text. this is some short text.</div>
      <div style='position: absolute; top:0; left:0; margin-left: 100px; background: orange;'>this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text. this is a lot of text.</div>
    </div>
    <p class='code-caption'>(1 div set to <i>100px</i> and another <i>absolutely</i> positioned with a <i>100px</i> margin)</p>
  "
  data-text="
    The trick to making this work is set the <i>margin</i> of the 2nd column to the <i>width</i> of the 1st column. And on the wrapping div, set it to <i>position:relative</i>.
  "
></div>

<div data-code-block 
  data-title="3 Randomly Wide Columns Center Aligned"
  data-example="
    <div style='border: 1px solid #000; text-align: center; width: 100%; overflow: hidden;'>
      <div style='float: left; background: yellow;'>A Really Long<br/>Item 1</div>
      <div style='float: left; background: orange;'>Item 2</div>
      <div style='float: left; background: green;'>A Short<br/>Item 3</div>
    </div>
    <p class='code-caption'>(3 floated divs)</p>
    <div style='border: 1px solid #000; text-align: center;'>
      <div style='display: inline-block; background: yellow;'>A Really Long<br/>Item 1</div>
      <div style='display: inline-block; background: orange;'>Item 2</div>
      <div style='display: inline-block; background: green;'>A Short<br/>Item 3</div>
    </div>
    <p class='code-caption'>(3 divs set to <i>display: inline-block</i>)</p>
  "
  data-text="
    If you <i>float</i> divs they will start from the left or right. The trick is to set the parent div to <i>text-align: center</i> and the children to <i>display: inline-block</i>.
  "
></div>

<div data-code-block 
  data-title="Prevent Padding From Affecting The Size"
  data-example="
    <div style='border: 1px solid #000; width: 200px; background: yellow;'>
      this is text in a div that is kind of long and will wrap.
    </div>
    <p class='code-caption'>(<i>200px</i> wide div)</p>
    <div style='border: 1px solid #000; width: 200px; padding: 10px; background: yellow;'>
      this is text in a div that is kind of long and will wrap.
    </div>
    <p class='code-caption'>(<i>200px</i> wide div with <i>10px</i> padding becomes <i>220px</i>)</p>
    <div style='border: 1px solid #000; width: 200px; padding: 10px; background: yellow; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;'>
      this is text in a div that is kind of long and will wrap.
    </div>
    <p class='code-caption'>(<i>200px</i> wide div with <i>box-sizing: border-box</i>)</p>
  "
  data-text="
    When you add padding to a div, it pushes the width out. You can solve this by putting a child div inside it, and putting the padding on that, or using <i>box-sizing: border-box</i>. This keeps the set width and uses the padding to push inside.
  "
></div>
