@import 'theme';

.SizerNavContainer {
  position: fixed;
  right: 15px;
  width: $navWidth;
  z-index: 2;
}

.SizerNavUnits {
  background-color: $color-white;
  border: 1px solid $color-gray1;
  border-radius: 6px;
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}
.SizerNavUnits-unit {
  cursor: pointer;
  padding: 4px;
  text-align: center;
  width: 50%;

  &--selected {
    background-color: rgba($color-gray1, 0.3);
  }
}

.SizerNav {
  background-color: $color-white;
  border: 1px solid $color-gray1;
  border-radius: 6px;
  margin: 0;
}
.SizerNav-category {
  border-top: 1px solid $color-gray2;

  &:first-child {
    border-top: none;
  }
  &--selected {
    .SizerNav-title {      
      &:hover {
        color: inherit;
        cursor: default;
      }
    }
    .SizerNav-list {
      display: block;
    }
  }
}
.SizerNav-title {
  padding: 6px;
  text-transform: capitalize;
  font-size: 16px;

  &:hover {
    color: $color-black;
    cursor: pointer;
  }
}
.SizerNav-list {
  display: none;
  max-height: 200px;
  overflow: auto;
  padding: 0 6px 6px 12px;
}
.SizerNav-listItem {
  cursor: pointer;
  padding: 4px 6px 4px 0;
  
  &:last-child {
    margin-bottom: 0;
  }
  &:hover:not(&--disabled) {
    color: $color-black;
  }
  &--disabled {
    opacity: 0.5;
  }
}
