$color-black: #303030;
$color-white: #ffffff;
$color-gray1: #7d7970;
$color-gray2: #aea99b;
$color1: #456456;
$color2: #9ebdb6;
$color3: #d2e3d5;
$color4: #ff7800;

$transition1: 0.8s;
$transition2: 0.6s;
$transition3: 0.2s;

$headerSpacing: 60px;
$navWidth: 150px;
$infoHeight: 65px;
$buttonSize: 32px;
$buttonSpace: $buttonSize + 15px;

@keyframes pulseIcon {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
