@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot');
	src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/icons.svg#icons') format('svg'),
		url('fonts/icons.woff') format('woff'),
		url('fonts/icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon:before,
.icon-home:before,
.icon-pencil:before,
.icon-pencil-2:before,
.icon-pen:before,
.icon-music:before,
.icon-camera:before,
.icon-image:before,
.icon-book:before,
.icon-podcast:before,
.icon-file:before,
.icon-file-2:before,
.icon-copy:before,
.icon-cart:before,
.icon-office:before,
.icon-connection:before,
.icon-qrcode:before,
.icon-tag:before,
.icon-folder-open:before,
.icon-credit:before,
.icon-phone:before,
.icon-phone-hang-up:before,
.icon-location:before,
.icon-location-2:before,
.icon-pushpin:before,
.icon-calendar:before,
.icon-print:before,
.icon-screen:before,
.icon-bell:before,
.icon-alarm:before,
.icon-mobile:before,
.icon-mobile-2:before,
.icon-forward:before,
.icon-reply:before,
.icon-undo:before,
.icon-redo:before,
.icon-bubble:before,
.icon-users:before,
.icon-busy:before,
.icon-spinner:before,
.icon-spinner-2:before,
.icon-key:before,
.icon-unlocked:before,
.icon-lock:before,
.icon-wrench:before,
.icon-contract:before,
.icon-expand:before,
.icon-zoom-in:before,
.icon-zoom-out:before,
.icon-search:before,
.icon-cog:before,
.icon-cogs:before,
.icon-stats:before,
.icon-bars:before,
.icon-gift:before,
.icon-trophy:before,
.icon-food:before,
.icon-fire:before,
.icon-lab:before,
.icon-remove:before,
.icon-airplane:before,
.icon-briefcase:before,
.icon-truck:before,
.icon-shield:before,
.icon-switch:before,
.icon-list:before,
.icon-flag:before,
.icon-attachment:before,
.icon-eye:before,
.icon-bookmark:before,
.icon-brightness-contrast:before,
.icon-cloud:before,
.icon-contrast:before,
.icon-star:before,
.icon-star-2:before,
.icon-star-3:before,
.icon-heart:before,
.icon-heart-2:before,
.icon-heart-broken:before,
.icon-thumbs-up:before,
.icon-thumbs-up-2:before,
.icon-happy:before,
.icon-happy-2:before,
.icon-angry:before,
.icon-angry-2:before,
.icon-warning:before,
.icon-info:before,
.icon-blocked:before,
.icon-cancel-circle:before,
.icon-close:before,
.icon-checkmark:before,
.icon-checkmark-2:before,
.icon-user:before,
.icon-enter:before,
.icon-exit:before,
.icon-volume-high:before,
.icon-loop:before,
.icon-shuffle:before,
.icon-arrow-up:before,
.icon-arrow-right:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-scissors:before,
.icon-paragraph-left:before,
.icon-share:before,
.icon-google-plus:before,
.icon-facebook:before,
.icon-twitter:before,
.icon-feed:before,
.icon-pinterest:before,
.icon-picassa:before,
.icon-barcode:before,
.icon-envelop:before,
.icon-quotes-left:before,
.icon-camera-2:before,
.icon-notebook:before,
.icon-stack:before,
.icon-box-add:before,
.icon-box-remove:before,
.icon-user-2:before,
.icon-bubbles:before,
.icon-arrow-up-2:before,
.icon-arrow-down-2:before,
.icon-arrow-left-2:before,
.icon-arrow-right-2:before {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	vertical-align: -6%;
}
.icon-home:before {
	content: "\e000";
}
.icon-pencil:before {
	content: "\e002";
}
.icon-pencil-2:before {
	content: "\e003";
}
.icon-pen:before {
	content: "\e004";
}
.icon-music:before {
	content: "\e007";
}
.icon-camera:before {
	content: "\e008";
}
.icon-image:before {
	content: "\e009";
}
.icon-book:before {
	content: "\e00a";
}
.icon-podcast:before {
	content: "\e00b";
}
.icon-file:before {
	content: "\e00c";
}
.icon-file-2:before {
	content: "\e00d";
}
.icon-copy:before {
	content: "\e00f";
}
.icon-cart:before {
	content: "\e010";
}
.icon-office:before {
	content: "\e012";
}
.icon-connection:before {
	content: "\e013";
}
.icon-qrcode:before {
	content: "\e016";
}
.icon-tag:before {
	content: "\e017";
}
.icon-folder-open:before {
	content: "\e011";
}
.icon-credit:before {
	content: "\e018";
}
.icon-phone:before {
	content: "\e01b";
}
.icon-phone-hang-up:before {
	content: "\e01c";
}
.icon-location:before {
	content: "\e01d";
}
.icon-location-2:before {
	content: "\e01e";
}
.icon-pushpin:before {
	content: "\e01f";
}
.icon-calendar:before {
	content: "\e020";
}
.icon-print:before {
	content: "\e021";
}
.icon-screen:before {
	content: "\e022";
}
.icon-bell:before {
	content: "\e024";
}
.icon-alarm:before {
	content: "\e023";
}
.icon-mobile:before {
	content: "\e026";
}
.icon-mobile-2:before {
	content: "\e027";
}
.icon-forward:before {
	content: "\e028";
}
.icon-reply:before {
	content: "\e029";
}
.icon-undo:before {
	content: "\e02a";
}
.icon-redo:before {
	content: "\e02b";
}
.icon-bubble:before {
	content: "\e02c";
}
.icon-users:before {
	content: "\e02f";
}
.icon-busy:before {
	content: "\e032";
}
.icon-spinner:before {
	content: "\e033";
}
.icon-spinner-2:before {
	content: "\e030";
}
.icon-key:before {
	content: "\e031";
}
.icon-unlocked:before {
	content: "\e035";
}
.icon-lock:before {
	content: "\e034";
}
.icon-wrench:before {
	content: "\e036";
}
.icon-contract:before {
	content: "\e037";
}
.icon-expand:before {
	content: "\e038";
}
.icon-zoom-in:before {
	content: "\e039";
}
.icon-zoom-out:before {
	content: "\e03a";
}
.icon-search:before {
	content: "\e03b";
}
.icon-cog:before {
	content: "\e03d";
}
.icon-cogs:before {
	content: "\e03e";
}
.icon-stats:before {
	content: "\e040";
}
.icon-bars:before {
	content: "\e041";
}
.icon-gift:before {
	content: "\e042";
}
.icon-trophy:before {
	content: "\e043";
}
.icon-food:before {
	content: "\e044";
}
.icon-fire:before {
	content: "\e046";
}
.icon-lab:before {
	content: "\e047";
}
.icon-remove:before {
	content: "\e048";
}
.icon-airplane:before {
	content: "\e049";
}
.icon-briefcase:before {
	content: "\e04a";
}
.icon-truck:before {
	content: "\e04b";
}
.icon-shield:before {
	content: "\e04c";
}
.icon-switch:before {
	content: "\e04f";
}
.icon-list:before {
	content: "\e052";
}
.icon-flag:before {
	content: "\e053";
}
.icon-attachment:before {
	content: "\e054";
}
.icon-eye:before {
	content: "\e055";
}
.icon-bookmark:before {
	content: "\e056";
}
.icon-brightness-contrast:before {
	content: "\e059";
}
.icon-cloud:before {
	content: "\e05e";
}
.icon-contrast:before {
	content: "\e05f";
}
.icon-star:before {
	content: "\e060";
}
.icon-star-2:before {
	content: "\e061";
}
.icon-star-3:before {
	content: "\e062";
}
.icon-heart:before {
	content: "\e063";
}
.icon-heart-2:before {
	content: "\e064";
}
.icon-heart-broken:before {
	content: "\e065";
}
.icon-thumbs-up:before {
	content: "\e066";
}
.icon-thumbs-up-2:before {
	content: "\e067";
}
.icon-happy:before {
	content: "\e068";
}
.icon-happy-2:before {
	content: "\e069";
}
.icon-angry:before {
	content: "\e06a";
}
.icon-angry-2:before {
	content: "\e06b";
}
.icon-warning:before {
	content: "\e073";
}
.icon-info:before {
	content: "\e075";
}
.icon-blocked:before {
	content: "\e077";
}
.icon-cancel-circle:before {
	content: "\e079";
}
.icon-close:before {
	content: "\e07b";
}
.icon-checkmark:before {
	content: "\e07c";
}
.icon-checkmark-2:before {
	content: "\e07d";
}
.icon-user:before {
	content: "\e07e";
}
.icon-enter:before {
	content: "\e080";
}
.icon-exit:before {
	content: "\e081";
}
.icon-volume-high:before {
	content: "\e08f";
}
.icon-loop:before {
	content: "\e094";
}
.icon-shuffle:before {
	content: "\e093";
}
.icon-arrow-up:before {
	content: "\e097";
}
.icon-arrow-right:before {
	content: "\e099";
}
.icon-arrow-down:before {
	content: "\e09b";
}
.icon-arrow-left:before {
	content: "\e09d";
}
.icon-scissors:before {
	content: "\e09e";
}
.icon-paragraph-left:before {
	content: "\e0a0";
}
.icon-share:before {
	content: "\e0a4";
}
.icon-google-plus:before {
	content: "\e0a6";
}
.icon-facebook:before {
	content: "\e0a8";
}
.icon-twitter:before {
	content: "\e0aa";
}
.icon-feed:before {
	content: "\e0ac";
}
.icon-pinterest:before {
	content: "\e0b3";
}
.icon-picassa:before {
	content: "\e0b8";
}
.icon-barcode:before {
	content: "\e0c3";
}
.icon-envelop:before {
	content: "\e0c7";
}
.icon-quotes-left:before {
	content: "\e0ce";
}
.icon-camera-2:before {
	content: "\e005";
}
.icon-notebook:before {
	content: "\e001";
}
.icon-stack:before {
	content: "\e006";
}
.icon-box-add:before {
	content: "\e00e";
}
.icon-box-remove:before {
	content: "\e014";
}
.icon-user-2:before {
	content: "\e015";
}
.icon-bubbles:before {
	content: "\e019";
}
.icon-arrow-up-2:before {
	content: "\e01a";
}
.icon-arrow-down-2:before {
	content: "\e025";
}
.icon-arrow-left-2:before {
	content: "\e02d";
}
.icon-arrow-right-2:before {
	content: "\e02e";
}