<nav class="PageNav" id="PageNav">
	<ul class="PageNav-box">
		<li class="PageNav-item" id="PageNav-item--{{ item.key }}" ng-repeat="(key, item) in nav">
		    <div class="PageNav-primary">
    			<span class="PageNav-itemIcon icon PageNav-itemIcon--{{ item.key }}"></span>
    			<span class="PageNav-itemText">{{ item.title }}</span>
    			<span class="PageNav-itemArrow"></span>
    			<span class="PageNav-itemClick" data-ng-click="subNavToggle($event);"></span>
			</div>

			<ul class="PageNav-secondary">
				<li class="PageNav-secondaryItem" ng-repeat="(key2, subItem) in item.items">
    				<a href="{{ subItem.link }}" class="PageNav-secondaryItemLink">{{ subItem.title }}</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
