<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle|default('Home') }}</title>

    {% block head %}
        <style type="text/css">
            nav { border: 2px solid red; }
        </style>
    {% endblock %}    
</head>

<body>
    {% block pageNav %}
        <nav>
            Page Navigation Goes Here
            <a href="/timeline/">home</a>
            <a href="/timeline/more.html">more</a>
        </nav>
    {% endblock pageNav %}

    {% block pageContent %}
    {% endblock pageContent %}

    {% block pageJs %}
        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    
        <!-- Load our React component. -->
        <script src="./like_button.js"></script>
        <script src="./component.js" type="text/babel"></script>
    {% endblock pageJs %}
</body>

</html>
